<ion-header>

    <ion-navbar>
        <!-- <ion-title>birth</ion-title> -->
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="normal-page">
        <ion-list class='font-color3'>
            <ion-label class="font-color1">请填写宝宝信息</ion-label>
            <ion-label stacked>宝宝性别</ion-label>
            <div class="sex-choice-box">
                <div class="pos-relative" (click)='checkBoy()'>
                    <img class='boy-header' src="../../../assets/imgs/boy-header.png" alt="">
                    <img class='pos-icon' [ngStyle]="{'display': isBoy ? 'inline-block' : 'none'}" src="../../../assets/imgs/change-right.png" alt="">
                </div>
                <div class="pos-relative" (click)='checkGirl()'>
                    <img class='boy-header' src="../../../assets/imgs/girl-header.png" alt="">
                    <img class='pos-icon' [ngStyle]="{'display': isGirl ? 'inline-block' : 'none'}" src="../../../assets/imgs/change-right.png" alt="">
                </div>
            </div>
            <ion-item>
                <ion-label stacked class='font-color3'>宝宝乳名</ion-label>
                <ion-input class='text-input font-color3' [(ngModel)]='childName' type="text" placeholder="宝宝乳名"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked class='font-color3'>宝宝生日</ion-label>
                <ion-datetime class='text-input ion-datetime font-color3' displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确定" showReset='选择日期' resetText='选择日期' placeholder="2018-10-01"
                    [(ngModel)]="chidlDate"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label stacked class='font-color3'>宝宝身长</ion-label>
                <ion-multi-picker class='text-input ion-datetime font-color3' [(ngModel)]="babyHeight" placeholder="宝宝身长Cm" item-content [multiPickerColumns]="babyHeights" cancelText="取消" doneText="确定"></ion-multi-picker>
            </ion-item>

            <ion-item>
                <ion-label stacked class='font-color3'>宝宝体重</ion-label>
                <ion-multi-picker class='text-input ion-datetime font-color3' [(ngModel)]="babyWeight" placeholder="宝宝体重Kg" item-content [multiPickerColumns]="babyWeights" cancelText="取消" doneText="确定"></ion-multi-picker>
            </ion-item>

            <ion-item>
                <ion-label stacked class='font-color3'>喂养方式</ion-label>
                <ion-multi-picker class='text-input ion-datetime font-color3' [(ngModel)]="type" placeholder="喂养方式" item-content [multiPickerColumns]="types" cancelText="取消" doneText="确定"></ion-multi-picker>
            </ion-item>

            <ion-item>
                <ion-label stacked class='font-color3'>分娩方式</ion-label>
                <ion-multi-picker class='text-input ion-datetime font-color3' [(ngModel)]="birthType" placeholder="分娩方式" item-content [multiPickerColumns]="birthTypes" cancelText="取消" doneText="确定" ></ion-multi-picker><!--showReset='分娩方式' resetText='分娩方式'-->
            </ion-item>
        </ion-list>
        <div class="birth-center-btn">
            <button class="confirm-btn" ion-button round (click)='confirm()'>完成</button>
        </div>
    </div>
</ion-content>