page-birth-child-info{
    .normal-page{
        padding: 1rem;
        font-size: 1.4rem;
        ion-datetime,
        ion-multi-picker{
            font-size: 1.3rem !important;
            color: #868888;
            margin-top: 10px;
        }
        .sex-choice-box{
            display: flex;
            justify-content: space-around;
            .pos-relative{
                position: relative;
                width: 4.6rem;
                height: 4.6rem;
                .boy-header{
                    width: 4.6rem;
                }
                .pos-icon{
                    position: absolute;
                    right: 0.3rem;
                    bottom: 0.5rem;
                }
            }
        }
        .list-item{
            border-bottom: 1px solid #ccc;
        }
        .item-ios {
            font-size: 1rem;
            min-height: 2rem;
            padding-left: 0;
        }
        .ion-datetime{
            padding: 0;
        }
        .confirm-btn{
            color: #fff;
            background: #3DDFD2;
            height: 3.2rem
        }
        .margin-left16{
            margin-left: 16px;
            color: #868888;
        }
        .label-ios[stacked]{
            font-size: 1.4rem;
            color: #868888;
        }
        ion-input{
            color: #868888;
            font-size: 1.4rem;
        }
        .birth-center-btn{
            text-align: center;
            width: 100%;
            // position: fixed;
            // left: 50%;
            // margin-left: -1rem;
            // bottom: 30px;
            .confirm-btn{
                width: 250px;
                margin-top: 15px;
            }
        }
    }
}