<ion-header>

        <ion-navbar>
            <ion-title>添加运动</ion-title>
        </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding>
        <div class="normal-page">
            <div class="content-box">
                <div class="top-time">
                    <div class="box">
                        <span>运动名称</span>
                    </div>
    
                    <div class="box">
                        <input placeholder='跳皮筋' class='text-right text-input'/>
                        <img src="../../../assets/imgs/right-icon.png" alt="">
                    </div>
                </div>
            </div>
           
            <div class="footer-box">
                <button ion-button (click)='toPage()'>保存</button>
            </div>
        </div>
    </ion-content>