<!--
  Generated template for the ForgetPwdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>忘记密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="flex-page login-page">
    <div class="login-page-box">
      <img src='../../assets/imgs/logo2.png' />
      <span>app名字</span>
    </div>
    <div *ngIf="showPwd == 1" class="ion-input-box margin-top-40">
      请输入手机号
      <input type="text" placeholder="请输入手机号" (focus)="focusInput()" (blur)="blurInput()">
    </div>
    <div *ngIf="showPwd == 2" class="ion-input-box pos-relative margin-top-40">
      请输入验证码
      <input type="text" placeholder="请输入验证码" (focus)="focusInput()" (blur)="blurInput()">
      <span class="pos-code" (click)="getCode()"><span *ngIf='codeNum > 0 && codeNum <= 60'> ({{codeNum}}S) </span>{{codeString}}</span>
    </div>
    <div *ngIf="showPwd == 3" class="ion-input-box">
      请输入密码
      <input type="text" placeholder="密码" [ngModel]='password' (focus)="focusInput()" (blur)="blurInput()">
    </div>
    <div class="ion-input-box">
      <button ion-button (click)="nextStep()">下一步</button>
    </div>
    <div class="page-footer-register" *ngIf='!isHide'>
      <div (click)="toLogin()">用户登录</div>
      <div>|</div>
      <div>忘记密码</div>
    </div>
  </div>
</ion-content>