<ion-header>

    <ion-navbar>
        <ion-title>产检时间</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page font-color4">
        <div class="list-box">
            <ul>
                <li *ngFor='let item of listData' (click)='toBirthDetail(item.id)'> 
                    <div class="left-box">
                        <div class="circle-box">
                            {{item.status}}
                        </div>
                    </div>
                    <div class="right-box">
                        <div class="title">{{item.title}}</div>
                        <div class="content">{{item.content}}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer-btn font-color1" (click)='setRemind()'>
            设置提醒
        </div>
    </div>
</ion-content>