page-births-seized-time{
    .normal-page{
        .list-box{
            ul{
                li{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 0.7rem 0;
                    border-bottom: 2px solid #fafafa; 
                    .left-box{
                        text-align: center;
                        padding: 0 1rem;
                        .circle-box{
                            width: 5.5rem;
                            height: 5.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            background: #3DDFD2;
                            color: #fff;
                        }
                    }
                    .right-box{
                        width: 23.75rem;
                        padding-right: 1rem;
                        .content{
                            width: 100%;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
    .footer-btn{
        width: 100%;
        position: fixed;
        bottom: 0;
        text-align: center;
        height: 4.5rem;
        line-height: 4.5rem;
    }
}