<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="pos-bg">
      <img src="../../assets/imgs/login-bg.png" alt="">
    </div>
    <div class="flex-page login-page">
      <div class="login-page-box text">
        <img src='../../assets/imgs/logo.png' />
        <span>app名字</span>
        <!-- <a href="https://www.baidu.com">https://www.baidu.com</a> -->
      </div>
      <div class="ion-input-box margin-top-40">
        <input type="text" placeholder="用户名" [(ngModel)]='username'  (focus)="focusInput()" (blur)="blurInput()">
      </div>
      <div class="ion-input-box">
        <input type="password" placeholder="密码" [(ngModel)]='password'  (focus)="focusInput()" (blur)="blurInput()">
      </div>
      <div class="ion-input-box">
        <div class="btn-login text" (click)='login()'>登录</div>
      </div>
      <div class="page-footer" *ngIf='!isHide'>
        <div class="text" (click)="toRegister()">新用户注册</div>
        <div class="text">|</div>
        <div class="text" (click)="toForgetPwd()">忘记密码</div>
      </div>
    </div>

  </div>
</ion-content>