page-login {
    .normal-page{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .flex-page{
        // position: relative;
    }
    .text{
        color: #fff !important;
    }
    .pos-bg{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -10;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .ion-input-box{
        .btn-login{
            width: 100%;
            height: 100%;
            background: #3DDFD2;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0 0 3px #3DDFD2;
        }
    }
}
