page-deed-detail{
    .normal-page{
        ul{
            li{
                border-bottom: 2px solid #fafafa;
                .top-title{
                    text-align: center;
                    margin-top: 1rem;
                }
                .list-box{
                    padding: 16px;
                    display: flex;
                    flex-wrap: wrap;
                    .header-img{
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                    .username{
                        padding-left: 1rem;
                    }
                    // .label{
                    //     align-self: flex-end;
                    //     margin: 5px 1rem;
                    //     padding: 0.2rem 1rem;
                    //     background: #3DDFD2;
                    //     color: #fff;
                    //     border-radius: 1.5rem;
                    //     font-size: 1rem;
                    // }
                }
                .content{
                    color: #7B7B7B;
                    padding: 0 16px;
                    .text-box{
                        line-height: 2.2rem;
                    }
                    .img-box{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        margin-left: -0.5rem;
                        .img-div{
                            height: 10rem;
                            width: 33.3%;
                            padding-left: 0.5rem;
                            overflow: hidden;
                            img{
                                height: 100%;
                                min-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}