page-home {
    .normal-page{
        width: 100%;
        position: relative;
        .pos-modal{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99;
            .pos-dialog{
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                .pos-content{
                    padding: 1.6rem 2rem;
                    width: 26rem;
                    margin: 14rem auto 0 auto;
                    background: #fff;
                    border-radius: 0.7rem;
                    .modal-header{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 3rem;
                        .modal-title{
                            padding: 0 0.5rem;
                        }
                    }
                    .modal-center{
                        line-height: 2rem;
                        letter-spacing: 3px;
                        .model-item{
                            margin: 0.7rem 0;
                            border-radius: 0.5rem;
                            text-align: center;
                            line-height: 4rem;
                            box-shadow: 0 0 5px #ccc;
                        }
                    }
                    .renchen-modal{
                        padding-bottom: 1rem;
                    }
                    .modal-footer{
                        text-align: center;
                        margin: 1rem 0;
                        button{
                            width: 80%;
                            height: 3rem;
                            line-height: 3rem;
                            border-radius: 1.5rem;
                            background: #2CDBCD;
                        }
                    }
                }
                .modal-close{
                    margin: 6rem;
                    text-align: center;
                    img{
                        width: 37px;
                        height: 37px;
                    }
                }
            }
        }
    }
    .bg1{
        background-color: #F6C67E;
    }
    .bg2{
        background-color: #2CDBCD;
    }
    .bg3{
        background-color: #FF9F9F;
    }
    .bg4{
        background-color: #91CBF1;
    }
    .show-img-box{
        width: 100%;
        height: 22rem;
        position: relative;
        .home-img{
            width: 100%;
            height: 22rem;
            overflow: hidden;
            img{
                min-height: 100%;
                min-width: 100%;
            }
        }
        .pos-camare{
            width: 2.8rem;
            height: 2.4rem;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            img{
                width: 100%;
            }
        }
    }
    .center-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        .center-item{
            width: 50%;
            height: 5.2rem;
            line-height: 5.2rem;
            // border: 2px solid #EDEDED;
            box-shadow: 0 0 3px #EDEDED;
            box-sizing: border-box;
            text-align: center;
            color: #7B7B7B;
        }
        .pos-center{
            position: absolute;
            left: 50%;
            margin-left: -3.25rem;
            top: -3.25rem;
            width: 6.5rem;
            height: 6.5rem;
            border-radius: 50%;
            border: 1px solid #2CDBCD;
            color: #2CDBCD;
            text-align: center;
            line-height: 6.5rem;
            background: #fff;
        }
        .home-tip{
            width: 100%;
            height: 5rem;
            text-align: center;
            position: relative;
            // border-bottom: 2px solid #EDEDED;
            box-shadow: 0 0 5px #EDEDED;
            .pos-tip-text{
                height: 100%;
                width: 100%;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #3DDFD2;
                .limit-text{
                    width: 65%;
                }
                .change-btn{
                    padding: 0.1rem 1rem;
                    border-radius: 1rem;
                    background: #3DDFD2;
                    color: #fff;
                    margin-left: 0.5rem;
                }
            }
            img{
                height: 100%;
                width: 100%;
            }
        }
        
    }
    .center-content-hasBaby{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 3rem 1rem 1.5rem 1rem;
        .pos-center{
            position: absolute;
            left: 50%;
            margin-left: -2.6rem;
            top: -1.5rem;
            width: 6.6rem;
            height: 3rem;
            border-radius: 1.5rem;
            color: #fff;
            background: #2CDBCD;
            text-align: center;
            line-height: 3rem;
        }
        .pos-write{
            position: absolute;
            right: 1rem;
            top: 1rem;
            img{
                width: 14px;
            }
        }
        .circle-box{
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: 1px solid #2CDBCD;
            text-align: center;
            padding-top: 1rem;
        }
        .center-line{
            width: 5rem;
            height: 5rem;
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
            img{
                height: 0.1rem;
            }
        }
        .line{
            width: 5rem;
            height: 5rem;
            display: flex;
            align-items: center;
            img{
                height: 0.1rem;
            }
        }
    }
    .mine-list{
        padding: 0 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        // border-bottom: 2px solid #EDEDED;
        box-shadow: 0 0 5px #EDEDED;
        .mine-list-item{
            width: 6rem;
            height: 10rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .item-icon{
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                text-align: center;
                img{
                    height: 2rem;
                    margin-top: 1.5rem;
                }
            }
            .item-text{
                text-align: center;
                padding-top: 1rem;
                color: #888585;
            }
        }
    }
    .home-card{
        border-bottom: 2px solid #EDEDED;
        padding: 0.5rem 16px;
        .card-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 3rem;
            margin-bottom: 0.5rem;
            color: #868888;
        }
        .card-img{
            position: relative;
            .pos-card-img-text{
                position: absolute;
                top: 50%;
                margin-left: 1rem;
                width: 100%;
                text-align: center;
                color: #fff;
                span{
                    border: 1px solid #fff;
                    border-width: 1px 0;
                    display: inline-block;
                    padding: 0.4rem;
                }
            }
            .pos-card-img-text2{
                position: absolute;
                top: 25%;
                left: 0;
                display: flex;
                padding: 0 1rem;
                flex-direction: column;
                line-height: 2rem;
                width: 100%;
                color: #fff;
                button{
                    padding: 0 1rem;
                    height: 2rem;
                    background: #3DDFD2;
                    color: #fff;
                    border-radius: 1rem;
                }
            }
            img{
                width: 100%;
            }
        }
    }
}
