<ion-header>
  <!-- <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content>
  <div class="normal-page">
    <div class="show-img-box">
      <div class="home-img">
          <img src="{{cameraUpload}}" imageViewer alt="">
      </div>
      
      <div class="pos-camare" (click)='presentActionSheet()'>
        <img src="../../../assets/imgs/home-camera.png" alt="">
      </div>
    </div>
    <div class='center-content' *ngIf='!hasBaby'>
      <div class="center-item">
        孕8周+2天
      </div>
      <div class="pos-center">孕育中</div>
      <div class="center-item">
        距离预产期222天
      </div>

      <div class="home-tip">
        <div class="pos-tip-text">
          <span class="limit-text">{{barContent}}</span>
          <span class="change-btn" (click)='toWenjuan(barId)'>{{btnText}}</span>
        </div>
      </div>
      <div class="home-tip" >
        <div class="pos-tip-text">
          <span class="limit-text">请尽快完成糖耐量试验</span>
          <span class="change-btn" (click)='toWenjuan2()'>完成</span>
        </div>
      </div>

      <div class="home-tip">
        <div class="pos-tip-text">
          <span class="limit-text">测试为妊娠期糖尿病低风险，继续保持，可以去查看孕期知识哦</span>
          <span class="change-btn" (click)='toWenjuan3(barId)'>查看</span>
        </div>
      </div>

      <div class="home-tip">
        <div class="pos-tip-text">
          <span class="limit-text">宝宝出生了么？点击切换宝宝模式</span>
          <span class="change-btn" (click)='chanegBaby()'>切换</span>
        </div>
      </div>


      <div class="home-tip">
        <div class="pos-tip-text">
          <span class="limit-text">您宝宝的喂养方式是怎样的呢？</span>
          <span class="change-btn" (click)='weiyangType(barId)'>去填写</span>
        </div>
      </div>

      <div class="home-tip">
        <div class="pos-tip-text">
          <span class="limit-text">知识库已添加宝宝辅食模块！</span>
          <span class="change-btn" (click)='fushiWeiyang(barId)'>查看</span>
        </div>
      </div>
    </div>

    <div class='center-content-hasBaby' *ngIf='hasBaby'>
      <div class="pos-center">一个月</div>
      <div class="pos-write" (click)='toWriteHeight()'>
        <img src="../../../assets/imgs/home-write-icon.png" alt="">
      </div>
      <div class="line">
        <img src="../../../assets/imgs/red-line.png" alt="">
      </div>
      <div class='circle-box'>
        <div class="font-color4">{{userinfo.height}}</div>
        <div class="font-color1">cm</div>
      </div>
      <div class="center-line"><img src="../../../assets/imgs/red-line.png" alt=""></div>
      <div class="circle-box">
        <div class="font-color4">{{userinfo.weight}}</div>
        <div class="font-color1">kg</div>
      </div>
      <div class="line"><img src="../../../assets/imgs/red-line.png" alt=""></div>
    </div>

    <ul class='mine-list'>
      <li class='mine-list-item' *ngFor='let item of listData, let i = index' (click)='toKnowledgePage(i)'>
        <div class="item-icon" [ngClass]="{'bg1': i==0, 'bg2': i==1, 'bg3': i==2, 'bg4': i==3}">
          <img src="{{item.icon}}" alt="">
        </div>
        <div class="item-text">
          {{item.title}}
        </div>
      </li>
    </ul>
    <div class="home-card" *ngFor='let item of cardData'>
      <div class="card-title" (click)='toYunZao()'>
        <div class="card-title-text">{{item.title}}</div>
        <div>
          <img src="../../../assets/imgs/home-right.png" alt="">
        </div>
      </div>
      <div class="card-img" (click)='toKno()'>
        <div class="pos-card-img-text"><span>{{item.text}}</span></div>
        <div class="cimg">
          <img src="{{item.img}}" alt="">
        </div>
      </div>
    </div>
    <div class="home-card" *ngFor='let item of cardData'>
      <div class="card-title">
        <div class="card-title-text">{{item.title}}</div>
        <div>
          <img src="../../../assets/imgs/home-right.png" alt="">
        </div>
      </div>
      <div class="card-img">
        <div class="pos-card-img-text2" [ngStyle]="{'text-align': hasBaby ? 'center' : 'right'}">
          <div>{{item.text}}</div>
          <div>{{item.text}}</div>
          <div>
            <button ion-button (click)='toRecord()'>去记录</button>
          </div>
        </div>
        <div class="cimg">
          <img src="{{item.img}}" alt="">
        </div>
      </div>
    </div>

    <div class="pos-modal" *ngIf='pushModal'>
      <div class="pos-dialog">
        <div class="pos-content">
          <div class="modal-header">
            <img src="../../../assets/imgs/modal-icon-left.png" alt="">
            <span class="font-color1 modal-title">GDM高危测试</span>
            <img src="../../../assets/imgs/modal-icon-right.png" alt="">
          </div>
          <div class="modal-center font-color4">
            判断是否患有妊娠期糖尿病最佳方法是进行产检项目——糖筛，一般在妊娠24-38周进行。
          </div>
          <div class="modal-footer">
            <button ion-button (click)='toTest()'>去完成</button>
          </div>
        </div>
        <div class="modal-close" (click)='closeModal()'>
          <img src="../../../assets/imgs/modal-close.png" alt="">
        </div>
      </div>
    </div>

    <div class="pos-modal" *ngIf='renchenModal'>
      <div class="pos-dialog">
        <div class="pos-content">
          <div class="modal-header">
            <img src="../../../assets/imgs/modal-icon-left.png" alt="">
            <span class="font-color1 modal-title">糖耐量试验</span>
            <img src="../../../assets/imgs/modal-icon-right.png" alt="">
          </div>
          <div class="modal-center font-color4 renchen-modal">
            <div class="model-item" *ngFor='let item of renchenList' [ngStyle]="{'background': item.flag ? '#2CDBCD' : '#fff', 'color': item.flag ? '#fff' : '#7B7B7B'}"
              (click)='renchenClick(item.id)'>{{item.name}}</div>
          </div>
        </div>
        <div class="modal-close" (click)='closeRenchengModal()'>
          <img src="../../../assets/imgs/modal-close.png" alt="">
        </div>
      </div>
    </div>

    <div class="pos-modal" *ngIf='yunqiPush'>
      <div class="pos-dialog">
        <div class="pos-content">
          <div class="modal-header">
            <img src="../../../assets/imgs/modal-icon-left.png" alt="">
            <span class="font-color1">孕期推送</span>
            <img src="../../../assets/imgs/modal-icon-right.png" alt="">
          </div>
          <div class="modal-center font-color4">
            孕妇在有身是期一般注意不要疲劳，行动要舒缓，要避免不协调的动作，避免冲撞，颠簸行为。随着孕龄的增加，孕妇的体重和腹部负担逐渐加剧，膨隆的子宫榨取着四周的脏器和血管。
          </div>
          <div class="modal-footer font-color1">
            <span>我知道了</span>
          </div>
        </div>
        <div class="modal-close" (click)='closeYunqiPush()'>
          <img src="../../../assets/imgs/modal-close.png" alt="">
        </div>
      </div>
    </div>
  </div>
</ion-content>