<ion-header>

    <ion-navbar>
        <ion-title>知识详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="header-img">
            <img src="../../../assets/imgs/article-bg-img.png" alt="">
        </div>
        <div class="article-header">
            <div class="article-title">
                <div>{{allData.title}}</div>
                <div class="icons">
                    <!-- <ion-icon name="star" style='color: yellow'></ion-icon> -->
                    <img (click)='collection()' src="{{collectionUrl}}" alt="">
                    <img src="../../../assets/imgs/share.png" alt="">
                    <!-- <ion-icon ios="md-share" md="md-share" color="secondary"></ion-icon> -->
                </div>
            </div>
            <div class='article-time'>
                    {{allData.created_time | date:"yyyy/MM/dd"}}
            </div>
            <div class="article-auther-header"> 
                <div class="header-img">
                    <img src="../../../assets/imgs/article-header-img.png" alt="">
                </div>
                <div class="auther-detail">
                    <div>{{allData.author.title}}</div>
                    <div>{{allData.author.name}}</div>
                </div>
            </div>
            <div class="article-auther-remark">
                <div>1212</div>
                <div>1212</div>
            </div>
        </div>
        <div class="article-content" [innerHTML]='allData.body'>
            
        </div>
        <div class="article-talk">
            <div class="article-talk-title">留言板</div>
            <ul>
                <li *ngFor='let item of messageData'>
                    <div class="header-img">
                        <img src="../../../assets/imgs/article-header-img.png" alt="">
                    </div>
                    <div class="talk-title" (click)='replay(item)'>
                        <div>{{item.username}}</div>
                        <div>{{item.username}}</div>
                        <div>{{item.content}}</div>
                        <div class="talk-reply">
                            <div>作者回复</div>
                            <div>
                                {{item.reply}}
                            </div>
                        </div>
                    </div>
                    <div class="talk-content">
                        <div>15分钟前</div>
                        <div>
                            <ion-icon name="heart" color="danger"></ion-icon>
                            <span>12</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="article-footer">
            <input type="text" placeholder="写留言" [(ngModel)]="keyword">
            <span class="search" (click)='sendMessage()'>发布</span>
        </div>
    </div>
</ion-content>