<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>选择人生阶段</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content padding>
  <div class="flex-box register-page">
    <div class="box-title font-color4">
      请选择人生阶段
    </div>
    <div *ngFor='let item of listData, let i = index' [ngClass]="{'register-page-box': true, 'bgacolor': item.hide ? false : true}" (click)="toNextPage(i)">
      {{item.text}}
      <div [ngClass]='{"pos-icon-gou": true, "hide": item.hide}'>
        <img src="../../assets/imgs/icon-gou.png" alt="">
      </div>
    </div>
    <div class="remark-footer font-color4">
      提醒：孕产APP使用时间为备孕到宝宝1岁
    </div>
  </div>
</ion-content>