
page-register {
    .register-page{
        flex-direction: column;
        align-items: center;
        color: #3DDFD2;
        .hide{
            display: none;
        }
        .box-title{
            width: 100%;
            text-align: center;
            align-self: flex-start;
            height: 10rem;
            margin: 4rem 0 1.5rem 0;
            color: #868888;
        }
        img{
            width: 100px;
            height: 100px;
        }
        .bgacolor{
            background: #3DDFD2;
            color: #fff;
        }
        .register-page-box{
            position: relative;
            // width: 21rem;
            width: 80%;
            height: 5.5rem;
            line-height: 5.5rem;
            text-align: center;
            margin: 1rem 0;
            // background: #3DDFD2;
            // color: #fff;
            box-shadow: 0 0 3px #ccc;
            border-radius: 0.7rem;
            overflow: hidden;
            .pos-icon-gou{
                position: absolute;
                width: 30%;
                height: 100%;
                left: 0;
                top: 0;
                text-align: right;
                vertical-align: middle;
                img{
                    width: 2.4rem;
                    height: 1.5rem;
                }
            }
        }
        .remark-footer{
            margin-top: 1rem;
            width: 100%;
            text-align: center;
        }
    }
}
