<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="首页" tabIcon="tab-home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="社交" tabIcon="tab-concat"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="记录" tabIcon="tab-record"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="我的" tabIcon="tab-mine"></ion-tab>
</ion-tabs>
