page-weight-curve-child{
    .normal-page{
        .header-box{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 20rem;
            border-bottom: 2px solid #fafafa;
            div{
                line-height: 3rem;
            }
            .red-text{
                color: #F98B8B;
            }
            .pos-change{
                position: absolute;
                right: 0;
                top: 3rem;
                height: 3rem;
                line-height: 3rem;
                background: #3DDFD2;
                color: #fff;
                padding: 0 1.5rem;
                border-radius: 1.5rem 0 0 1.5rem;
                box-shadow: 0 0 3px #3DDFD2;
            }
        }
        .curve-box{
            position: relative;
            border-bottom: 3px solid #fafafa; 
            .title{
                position: absolute;
                top: 6px;
                left: 16px;
            }
            .center-title{
                z-index: 2;
                position: absolute;
                top: 26px;
                display: flex;
                justify-content: center;
                width: 100%;
                div{
                    margin: 0 3rem;
                }
                .border-bottom{
                    border-bottom: 2px solid #3DDFD2;
                }
            }
            height: 25rem;
            .canvas-box{
                height: 100%;
                #chart2{
                    width: 100%;
                    height: 100%;
                    div{
                        height: 100% !important;
                        canvas{
                            height: 100% !important;
                            margin-top: 5px;
                        }
                    }
                }
                #chart3{
                    width: 100%;
                    height: 100%;
                    div{
                        height: 100% !important;
                        canvas{
                            height: 100% !important;
                        }
                    }
                }
            }
            .pos-show-line{
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .icon-box{
                    height: 35px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .line-box{
                        height: 20px;
                        width: 40px;
                        display: flex;
                        align-items: center;
                        .line1{
                            width: 100%;
                            border: 0.5px dashed #D6D875;
                        }
                        .line2{
                            width: 100%;
                            border: 0.5px dashed #EE9493;
                        }
                        .line3{
                            width: 100%;
                            border: 0.5px dashed #97EBD2;
                        }
                        .line4{
                            width: 100%;
                            border: 0.5px dashed #9EC7FB;
                        }
                        .line5{
                            width: 100%;
                            height: 1px;
                            border: 0.5px dashed #BF3A3A;
                        }
                    }
                }
            }
        }
        .text-box{
            padding: 16px;
            .title{
                padding: 0.7rem 0;
            }
            .text-div{
                line-height: 2rem;
            }
        }
        .footer-btn{
            text-align: center;
            button{
                background: #3DDFD2;
                color: #fff;
                height: 3rem;
                width: 10rem;
                border-radius: 1.5rem;
            }
        }

        .img-test{
            width: 100%;
            height: 30rem;
        }
    }
}