<ion-header>

    <ion-navbar>
        <ion-title>记体重</ion-title>
        <button ion-button clear icon-right (click)='record()' style="padding: 0; position: absolute; right: 6px; top: 6px;height: 22px">  
            <img class="back-btn" src="../../../assets/imgs/history-icon.png" />  
        </button>  
    </ion-navbar>
</ion-header>


<ion-content>
        <!-- <div id="chart"></div> -->
    <div class="normal-page">
        <div class="header-box">
            <div>孕3周+5天</div>
            <img (click)='toCalendar()' src="../../../assets/imgs/click-record.png" alt="">
            <div class='font-color1'>今日体重：47.6kg</div>
            <div class='red-text'>BMI值：18.5</div>
            <div class="pos-change" (click)='changeCurver()'>切换</div>
        </div>
        <div class="curve-box">
            <div class="title">孕期体重曲线</div>
            <div class="center-title">
                <div [ngClass]="{'border-bottom': showHeight ? true : false}" (click)='changeWeight()'>身高</div>
                <div [ngClass]="{'border-bottom': !showHeight ? true : false}" (click)='changeHeight()'>体重</div>
            </div>
            <div class="canvas-box"  [ngStyle]="{'display': showHeight ? 'inline-block' : 'none'}">
                <div id="chart2"></div>
            </div>
            <div class="canvas-box" [ngStyle]="{'display': !showHeight ? 'inline-block' : 'none'}">
                <div id="chart3"></div>
            </div>
            <div class="pos-show-line">
                <div class='icon-box'>
                    <div class="line-box">
                        <span class='line1'></span>
                    </div>
                    <div>
                        3%
                    </div>
                </div>
                <div class='icon-box'>
                    <div class="line-box">
                        <span class='line2'></span>
                    </div>
                    <div>
                        25%
                    </div>
                </div>
                <div class='icon-box'>
                    <div class="line-box">
                        <span class='line3'></span>
                    </div>
                    <div>
                        50%
                    </div>
                </div>
                <div class='icon-box'>
                    <div class="line-box">
                        <span class='line4'></span>
                    </div>
                    <div>
                        75%
                    </div>
                </div>
                <div class='icon-box'>
                    <div class="line-box">
                        <span class='line5'></span>
                    </div>
                    <div>
                        97%
                    </div>
                </div>
            </div>
        </div>
        <div class="text-box">
            <div class="title">孕期体重小贴士</div>
            <div class="text-div">
                孕期体重的相关提示孕期体重的相关提示孕期体重的相关提示孕期体重的相关提示孕期体重的相关提示孕期体重的相关孕期体重的相关孕期体重的相关孕期体重的相关孕期体重的相关孕期体重的相关孕期体重的相关孕期体重的相关孕期体重的相关孕期体重的相关孕期体重的相关孕期体重的相关孕期体重的相关
            </div>
        </div>
        <div class="footer-btn">
            <img src="../../../assets/imgs/more-icon.png" alt="">
        </div>
    </div>
</ion-content>