<ion-header>

    <ion-navbar>
        <ion-title>食谱详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="normal-page">
        <div class="header-img">
            <img src="../../../assets/imgs/recipes.png" alt="">
        </div>
        <div class="recipes-content">
            <div class="article-header">
                <div class="article-title">
                    <div>周一食谱</div>
                    <div>
                        <ion-icon name="star" style='color: yellow'></ion-icon>
                        <ion-icon ios="md-share" md="md-share" color="secondary"></ion-icon>
                    </div>
                </div>
                <div class="article-auther-remark">
                    21121212
                </div>
            </div>
            <div class="article-header">
                <div class="article-title">
                    <div>早餐：</div>
                </div>
                <div class="content-img">
                    <img src="../../../assets/imgs/recipes-img.png" alt="">
                </div>
                <div class="content-first">
                    <div class="first-box">
                        <div class="circle"></div>
                        <div>鸡蛋三明治</div>
                    </div>
                </div>
                <div class="flex-box">
                    <div *ngFor="let i of allData">
                        <div class="for-list">
                            {{i.text}} * {{i.num}}{{i.danwei}}
                        </div>
                    </div>
                </div>
                <div class="box-title">
                    <div>上午加餐：</div>
                </div>
                <div class="flex-box">
                    <div *ngFor="let i of firstData">
                        <div class="for-list">
                            {{i.text}} * {{i.num}}{{i.danwei}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-header">
                <div class="article-title">
                    <div>午餐：</div>
                </div>
                <div class="content-img">
                    <img src="../../../assets/imgs/recipes-img.png" alt="">
                </div>
                <div class="content-first">
                    <div class="first-box">
                        <div class="circle"></div>
                        <div>鸡蛋三明治</div>
                    </div>
                </div>
                <div class="flex-box">
                    <div *ngFor="let i of allData">
                        <div class="for-list">
                            {{i.text}} * {{i.num}}{{i.danwei}}
                        </div>
                    </div>
                </div>
                <div class="box-title">
                    <div>午餐加餐：</div>
                </div>
                <div class="flex-box">
                    <div *ngFor="let i of firstData">
                        <div class="for-list">
                            {{i.text}} * {{i.num}}{{i.danwei}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-header">
                <div class="article-title">
                    <div>晚餐：</div>
                </div>
                <div class="content-img">
                    <img src="../../../assets/imgs/recipes-img.png" alt="">
                </div>
                <div class="content-first">
                    <div class="first-box">
                        <div class="circle"></div>
                        <div>鸡蛋三明治</div>
                    </div>
                </div>
                <div class="flex-box">
                    <div *ngFor="let i of allData">
                        <div class="for-list">
                            {{i.text}} * {{i.num}}{{i.danwei}}
                        </div>
                    </div>
                </div>
                <div class="box-title">
                    <div>晚餐加餐：</div>
                </div>
                <div class="flex-box">
                    <div *ngFor="let i of firstData">
                        <div class="for-list">
                            {{i.text}} * {{i.num}}{{i.danwei}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="nutrient">
                <div class="article-title">
                    <div>营养素：</div>
                </div>
                <div class="nutrient-flow" id="container">
                    <ul>
                        <li class='box' *ngFor='let item of flowData' [ngStyle]="{'height': item.lheight + 'rem', 'width': item.lheight + 'rem'}">
                            <div class="box_bg">
                                {{item.text}}
                            </div>
                        </li>
                    </ul>
                    <div class="footer-content" *ngIf='checkMoreTrue'>
                        <div class="article-title">
                            <div>营养素详细明细：</div>
                        </div>
                        <div class="footer-content-box">
                            <div class="footer-list" *ngFor='let item of footerData, let i = index' [ngStyle]="{'border-right': (i+1)%3==0 ? 'none':'1px solid #D6D6D6'}">
                                {{item.text}} {{item.num}}
                            </div>
                        </div>
                    </div>
                    <div class="footer-other">
                        <button ion-button (click)='checkMore()'>{{checkMoreText}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>