page-recipes-oneday{
    .normal-page{
        width: 100%;
        .header-img{
            margin: -16px;
            img{
                width: 100%;
            }
        }
        .recipes-content{
            margin-top: -5rem;
            position: relative;
            z-index: 99;
            .article-header{
                margin: 0.8rem -6px;
                border-radius: 0.5rem;
                padding: 1rem;
                box-shadow: 0 0 0.5rem #ccc;
                background: #fff;
                .article-title{
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    line-height: 1.8rem;
                    padding: 0 0 1rem 0;
                }
                .content-img{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .article-auther-remark{
                    font-size: 10px;
                    padding: 1rem 0;
                }
                .box-title{
                    font-size: 1.5rem;
                    line-height: 1.8rem;
                }
                .content-first{
                    .first-box{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        .circle{
                            margin-right: 0.5rem;
                            width: 1rem;
                            height: 1rem;
                            border-radius: 50%;
                            border: 2px solid #D6D6D6;
                        }
                    }
                }
                .flex-box{
                    display: flex;
                    flex-wrap: wrap;
                    .for-list{
                        white-space:nowrap;
                        padding: 0 10px;
                        line-height: 25px;
                        height: 25px;
                        background: #3DDFD2;
                        color: #fff;
                        border-radius: 12px;
                        margin: 5px 7px 5px 0;
                    }
                }
            }
            .nutrient{
                margin: 0.8rem -6px;
                border-radius: 0.5rem;
                padding: 1rem;
                box-shadow: 0 0 0.5rem #ccc;
                background: #fff;
                .article-title{
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    line-height: 1.8rem;
                }
                ul{
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    height: 20rem;
                    li{
                        display: flex;
                        flex-direction: column wrap;
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        margin: 1rem;
                        .box_bg{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    li:first-of-type{
                        align-self: center;
                    }
                    li:nth-of-type(2){
                        align-self: baseline;
                    }
                    li:nth-of-type(3){
                        align-self: flex-end;
                    }
                    li:nth-of-type(4){
                        align-self: flex-start;
                    }
                    li:nth-of-type(5){
                        align-self: center;
                    }
                    li:nth-of-type(6){
                        align-self: flex-start;
                    }
                    li:nth-of-type(7){
                        align-self: stretch;
                    }
                    li:last-of-type{
                        align-self: baseline;
                    }
                }
                .footer-other{
                    width: 100%;
                    text-align: center;
                    button{
                        width: 85%;
                        background: #3DDFD2;
                        height: 3rem;
                        border-radius: 1.5rem;
                    }
                }
                .footer-content{
                    
                    .footer-content-box{
                        display: flex;
                        flex-wrap: wrap;
                        border: 1px dotted #3DDFD2;
                        border-radius: 0.3rem;
                        width: 100%;
                        margin: 1rem auto;
                        padding: 0.5rem;
                        .footer-list{
                            font-size: 0.8rem;
                            padding-left: 3px;
                            width: 33.3%;
                            height: 2.8rem;
                            line-height: 2.8rem;
                            border-bottom: 1px solid #D6D6D6;
                            border-right: 1px solid #D6D6D6;
                        }
                    }
                }
            }
        }
    }   
}