page-record {
    .normal-page{
        width: 100%;
        height: 100%;
    }
    .show-img-box{
        width: 100%;
        background: #EDEDED;
        overflow: hidden;
        height: auto;
        position: relative;
        z-index: 1;
        .pos-top{
            position: absolute;
            bottom: 5 rem;
            left: 2rem;
            color: #fff;
            z-index: 2;
        }
        img{
            width: 100%;
        }
    }
    .concat-list{
        margin: -5rem 0 5px 0;
        padding: 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        z-index: 10;
        .concat-list-item{
            background: #fff;
            display: flex;
            line-height: 3rem;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 48%;
            height: 15rem;
            box-shadow: 0 0 5px #ccc;
            margin-top: 1rem;
            border-radius: 0.5rem;
            .item-text{
                width: 70%;
                word-wrap: break-word;
                line-height: 1.5rem;
                text-align: center;
            }
            img{
                height: 4.5rem;
            }
        }
    }
    .retie{
        width: 100%;
        .text-h5{
            font-weight: bold;
            margin: 10px 0;
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: center;
            width: 100%;
            height: 5.5rem;
            li{
                height: 90%;
                width: 13rem;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
    }
    .pos-btn{
        position: fixed;
        bottom: 3rem;
        left: 50%;
        margin-left: -2.3rem;
        width: 4.6rem;
        height: 4.6rem;
        button{
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }
}
