<ion-header>
  <!-- <ion-navbar>
    <ion-title>
      记录
    </ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content>
  <div class="normal-page font-color4">
    <div class="show-img-box">
      <img src="../../../assets/imgs/record-img.png" alt="">
      <div class="pos-top">
        <div>记录每一个美好瞬间</div>
        <div>你的孕迹时光，由我来见证</div>
      </div>
    </div>
    <ul class='concat-list'>
      <li class='concat-list-item' *ngFor='let item of listData, let i = index' (click)='toPage(i)'>
        <img src="{{item.url}}" alt="">
        <div>
          {{item.title}}
        </div>
        <div class="item-text">
          {{item.text}}
        </div>
      </li>
    </ul>
    <div class="content"></div>
  </div>
</ion-content>