<ion-header>

        <ion-navbar>
            <ion-title>记事迹</ion-title>
            <button ion-button clear icon-right (click)='record()' style="padding: 0; position: absolute; right: 6px; top: 8px;height: 22px">  
                <!-- <img class="back-btn" src="../../../assets/imgs/history-icon.png" />   -->
                发布
            </button>
        </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding>
        <div class="normal-page">
            <div class="top-title">
                <input type="text" class='text-input' placeholder="添加标题">
            </div>
            <div class="top-textarea">
                <textarea name="" id="" placeholder="写下来，分享孕期生活的点点滴滴吧！"></textarea>
            </div>
            <div class="img-box">
                <div class="img" *ngFor='let item of fileList'>
                    <img src="{{item.img}}" imageViewer alt="">
                </div>
                <div class="img">
                    <input type="file" id='file' (change)='inpChange()'>
                    <img src="../../../assets/imgs/pointing-point.png" alt="">
                    <span>图片</span>
                </div>
            </div>
            <div class="other-box">
                <img src="../../../assets/imgs/deed-icon1.png" alt="">
                <span>同时发布到社交圈内</span>
            </div>
        </div>
    </ion-content>