page-record-deed{
    .normal-page{
        .text-input{
            border: 0;
        }
        .top-title{
            border-bottom: 1px solid #ccc;
            height: 2.5rem;
            margin-bottom: 0.5rem;
        }
        .top-textarea{
            width: 100%;
            height: 10rem;
            textarea{
                width: 100%;
                height: 100%;
            }
        }
        .img-box{
            display: flex;
            flex-wrap: wrap;
            margin-left: -0.3rem;
            .img{
                padding: 0.5rem 0 0.5rem 0.3rem;
                width: 33.33%;
                height: 9rem;
                position: relative;
                input{
                    position: absolute;
                    z-index: 11;
                    opacity: 0;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
                span{
                    position: absolute;
                    bottom: 1.3rem;
                    left: 50%;
                    margin-left: -2.5rem;
                }
                img{
                    height: 100%;
                }
            }
        }
        .other-box{
            display: flex;
            align-items: center;
            padding-top: 1rem;
            img{
                width: 2rem;
                height: 2rem;
            }
            span{
                padding-left: 1rem;
            }
        }
    }
}