page-record-diet{
    .normal-page{
        width: 100%;
        height: 100%;
        overflow: scroll;
        .content-box{
            padding: 1rem;
            overflow: scroll;
            height: 100vh;
            margin-bottom: 2rem;
            .top-time{
                padding: 1rem;
                box-shadow: 0 0 5px #ccc;
                border-radius: 0.5rem;
                display: flex;
                justify-content: space-between;
                .box{
                    display: flex;
                    align-items: center;
                    img{
                        max-width: 2rem;
                        max-height: 2.1rem;
                    }
                    span{
                        padding: 0 0.5rem;
                        position: relative;
                    }
                    .date-span{
                        margin-bottom: -8px;
                    }
                } 
            }
            .center-box{
                line-height: 2.5rem;
                
                padding: 3px;
                padding-bottom: 45px;
                ul{
                    li{
                        padding: 1.1rem;
                        box-shadow: 0 0 5px #ccc;
                        margin: 0.5rem 0;
                        border-radius: 0.5rem;
                        .one-line{
                            display: flex;
                            justify-content: space-between;
                        }
                        .two-line{
                            display: flex;
                            .for-list{
                                display: flex;
                                align-items: center;
                                padding-right: 2rem;
                                span{
                                    padding: 0 0.5rem;
                                }
                            }
                        }
                        .three-line{
                            display: flex;
                            justify-content: space-between;
                        }
                        .four-line{
                            display: flex;
                            flex-wrap: wrap;
                            padding-bottom: 0.8rem;
                            .food-box{
                                background: #3DDFD2;
                                color: #fff;
                                display: flex;
                                align-items: center;
                                padding: 2px 7px;
                                border-radius: 1.5rem;
                                span{
                                    padding: 0 5px;
                                }
                            }
                        }
                        .bottom-img{
                            position: relative;
                            border-bottom: 1px solid #E6E6E6;
                            line-height: 0;
                            padding-bottom: 0.8rem;
                            .pos-close{
                                position: absolute;
                                bottom: 0.8rem;
                                right: 0;
                                z-index: 2;
                                width: 3rem;
                                height: 3rem;
                            }
                        }
                        .footer-img{
                            display: flex;
                            justify-content: center;
                            height: 5rem;
                            align-items: center;
                            padding-top: 1rem;
                            position: relative;
                            input{
                                opacity: 0;
                                position: absolute;
                            }
                            img{
                                width: 4.3rem;
                                margin: 0 1.5rem;
                            }
                            
                        }
                    }
                }
            }
        }
        .footer-btn{
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-left: 1px;
            .button-box{
                width: 50%;
                margin-right: 1px;
                button{
                    width: 100%;
                    margin: 0;
                    background: #3DDFD2;
                    color: #fff;
                    border: 0;
                }
            }
        }
    }
}