<ion-header>

    <ion-navbar>
        <ion-title>记膳食</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="content-box">
            <div class="top-time">
                <div class="box">
                    <img src="../../../assets/imgs/rili.png" alt="">
                    <span>日期</span>
                </div>

                <div class="box">
                    <span class="date-span">
                        <ion-datetime displayFormat="YYYY年MM月DD日" cancelText="取消" doneText="确定" placeholder="2018年12月01日"></ion-datetime>
                    </span>
                    <img src="../../../assets/imgs/right-icon.png" alt="">
                </div>
            </div>
            <div class="center-box">
                <ul>
                    <li>
                        <div class="one-line">
                            <div class="text-box">
                                <div>早餐</div>
                                <div>就餐地点: </div>
                            </div>
                            <div class="img-box">
                                <!-- <img src="../../../assets/imgs/camera.png" alt=""> -->
                            </div>
                        </div>
                        <div class="two-line">
                            <div class="for-list" *ngFor='let item of forList'>
                                <img *ngIf='item.flag' src="../../../assets/imgs/diet-circle-choice.png" alt="">
                                <img *ngIf='!item.flag' src="../../../assets/imgs/diet-circle.png" alt="">
                                <span>{{item.title}}</span>
                            </div>
                        </div>
                        <div class="three-line">
                            <div>添加食物: </div>
                            <div (click)='toAddFood()' *ngIf='isShow'>
                                <img src="../../../assets/imgs/add-icon.png" alt="">
                            </div>
                        </div>
                        <div class="four-line">
                            <div class="food-box">
                                <span>馒头·1个</span>
                                <img src="../../../assets/imgs/close-icon.png" alt="">
                            </div>
                        </div>
                        <div class="bottom-img">
                            <img src="../../../assets/imgs/record-diet-demo-img.png" alt="">
                            <div class="pos-close">
                                <img src="../../../assets/imgs/img-close.png" alt="">
                            </div>
                        </div>
                        <div class="footer-img" *ngIf='isShow'>
                            <div>
                                <input type="file">
                                <img src="../../../assets/imgs/record-add-icon.png" alt="">
                            </div>
                            
                            <div>
                                <img src="../../../assets/imgs/record-diet-camera.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="one-line">
                            <div class="text-box">
                                <div>午餐</div>
                                <div>就餐地点: </div>
                            </div>
                            <div class="img-box">
                                <!-- <img src="../../../assets/imgs/camera.png" alt=""> -->
                            </div>
                        </div>
                        <div class="two-line">
                            <div class="for-list" *ngFor='let item of forList'>
                                <img *ngIf='item.flag' src="../../../assets/imgs/diet-circle-choice.png" alt="">
                                <img *ngIf='!item.flag' src="../../../assets/imgs/diet-circle.png" alt="">
                                <span>{{item.title}}</span>
                            </div>
                        </div>
                        <div class="three-line">
                            <div>添加食物: </div>
                            <div (click)='toAddFood()' *ngIf='isShow'>
                                <img src="../../../assets/imgs/add-icon.png" alt="">
                            </div>
                        </div>
                        <div class="four-line">
                            <div class="food-box">
                                <span>馒头·1个</span>
                                <img src="../../../assets/imgs/close-icon.png" alt="">
                            </div>
                        </div>
                        <div class="bottom-img">
                            <img src="../../../assets/imgs/record-diet-demo-img.png" alt="">
                            <div class="pos-close">
                                <img src="../../../assets/imgs/img-close.png" alt="">
                            </div>
                        </div>
                        <div class="footer-img" *ngIf='isShow'>
                            <img src="../../../assets/imgs/record-add-icon.png" alt="">
                            <img src="../../../assets/imgs/record-diet-camera.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-btn" *ngIf='isShow'>
            <div class="button-box">
                <button ion-button>保存</button>
            </div>
            <div class="button-box">
                <button ion-button>完成</button>
            </div>
        </div>
    </div>
</ion-content>