page-has-child {
    .margin-left16{
        margin-left: 16px;
        color: #868888;
    }
    .sex-choice-box{
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }
    .sex-choice-box button{
        margin: 0 45px;
    }
    .label-ios[stacked]{
        font-size: 1.4rem;
        color: #868888;
    }
    ion-datetime{
        font-size: 1.4rem;
        color: #868888;
        margin-top: 10px;
    }
    ion-input{
        color: #868888;
        font-size: 1.4rem;
    }
}
