<!--
  Generated template for the HasChildPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <ion-list>
      <ion-label class="margin-left16">请输入您的宝宝的信息</ion-label>
      <ion-item>
        <ion-label stacked>宝宝乳名</ion-label>
        <ion-input type="text" placeholder="宝宝乳名"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>宝宝生日</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确定" placeholder="请选择" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>

      <ion-label style='display: none' stacked class='margin-left16'>宝宝性别</ion-label>
      <div class="sex-choice-box"  style='display: none'>
        <button ion-fab class='button disable-hover'>男宝宝</button>
        <button ion-fab class='button'>女宝宝</button>
      </div>
    </ion-list>
    <div class="confirm-center-btn">
      <button class="confirm-btn" (click)='confirm()' ion-button round>完成</button>
    </div>
  </div>
</ion-content>