page-deeds{
    .normal-page{
        .fffcolor{
            color: #fff;
        }
        .masonry{
            display: flex;
            height: auto;
            .column{
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 0.4rem;
                .item{
                    width: 100%;
                    border-radius: 0.4rem;
                    box-shadow: 0 0 5px #ccc;
                    margin-top: 0.8rem;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    line-height: 2rem;
                    .pos-bg{
                        position: absolute;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        overflow: hidden;
                        img{
                            width: 100%;
                            min-height: 100%;
                        }
                    }
                    .pos-points{
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}