<ion-header>

    <ion-navbar>
        <ion-title>喂养方式</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="flex-box feeding-page">
        <div class="box-title">
            <!-- 请选择喂养方式 -->
        </div>
        <div *ngFor='let item of listData, let i = index' (click)="toNextPage(i)" [ngClass]="{'feeding-page-box': true, 'bgacolor': item.hide ? false : true}">
            {{item.text}}
            <div class="pos-icon-gou" [ngClass]='{"hide": item.hide}'>
                <img src="../../assets/imgs/icon-gou.png" alt="">
            </div>
        </div>
    </div>
</ion-content>