<ion-header>

    <ion-navbar>
        <ion-title>体重身高记录</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="bar-list">
            <div>日期</div>
            <div>月份</div>
            <div>身高</div>
            <div>体重</div>
        </div>
        <div class="top-list">
            <ion-list>
                <ion-item-sliding *ngFor="let item of items">

                    <ion-item>
                        <div class="ion-list">
                            <div>{{item.title}}</div>
                            <div>{{item.title}}</div>
                            <div>{{item.title}}</div>
                            <div>{{item.title}}</div>
                        </div>
                    </ion-item>

                    <ion-item-options>
                        <button primary (click)='editItem(item)'>修改</button>
                        <!-- <button style="background: #ED6161" (click)="removeItem(item)">删除</button> -->
                    </ion-item-options>
                </ion-item-sliding>

            </ion-list>
        </div>
    </div>
</ion-content>