page-weightaheight-historical{
    .normal-page{
        .bar-list{
            display: flex;
            padding-right: 16px;
            height: 4.4rem;
            line-height: 4.4rem;
            width: 100%;
            border-bottom: 0.55px solid #c8c7cc;
            box-sizing: border-box;
            margin-bottom: 1px;
            div{
                text-align: center;
                width: 25%;
            }
        }
        .top-list{
            margin-left: -16px;
            .ion-list{
                display: flex;
                div{
                    width: 25%;
                    text-align: center;
                }
            }
            button{
                width: 4.4rem;
                color: #fff;
            }
        }
    }
}