<ion-header>

    <ion-navbar>
        <ion-title>消息通知</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="top-list">
            <ion-list>
                <ion-item-sliding *ngFor="let item of items">
                    <ion-item>
                        <div class="ion-list">
                            <div class="div-box">
                                <div class="header-img">
                                    <img src="../../../assets/imgs/demo.png" alt="">
                                </div>
                                <div class='center-content'>
                                    <div>少女十八岁</div>
                                    <div class="text-ellipsis">你分享的这个好好啊，谢谢分享你分享的这个好好啊，谢谢分享~~</div>
                                </div>
                                <div class="time-bix">22：50</div>
                            </div>
                        </div>
                    </ion-item>

                    <ion-item-options>
                        <button style="background: #ED6161" (click)="removeItem(item)">删除</button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </div>
    </div>
</ion-content>