page-notification{
    .normal-page{
        .top-list{
            margin-left: -16px;
            .ion-list{
                font-size: 1.2rem;
                display: flex;
                .div-box{
                    color: #888585;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    .header-img{
                        margin: 0 1rem;
                        width: 3.34rem;
                        height: 3.34rem;
                        border-radius: 50%;
                        img{
                            width: 3.3rem;
                        }
                    }
                    .center-content{
                        width: 21.5rem;
                        padding-right: 0.5rem;
                        .text-ellipsis{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            word-wrap: nowrap;
                        }
                    }
                    .time-bix{
                        width: auto;
                    }
                }
            }
            button{
                width: 5rem;
                color: #fff;
            }
        }
    }
}