<ion-header>

    <ion-navbar>
        <ion-title>设置</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="normal-page">
        <div class="top-time">
            <div class="box">
                <span>提醒音效</span>
            </div>

            <div class="box">
                <div class="switch-box">
                    <div [ngClass]="{'switch-item1': true, 'bgacolor': isBegin ? true : false}" (click)='choiceBegin()'>开</div>
                    <div [ngClass]="{'switch-item2': true, 'bgacolor': isBegin ? false : true}" (click)='choiceClose()'>关</div>
                </div>
            </div>
        </div>
        <div class="top-time">
            <div class="box">
                <span>关于我们</span>
            </div>

            <div class="box" (click)='toPage()'>
                <img src="../../../assets/imgs/right-icon.png" alt="">
            </div>
        </div>
    </div>
</ion-content>