page-setting{
    .normal-page{
        .top-time{
            margin-bottom: 1rem;
            padding: 1rem;
            box-shadow: 0 0 3px #ccc;
            display: flex;
            height: 5rem;
            border-radius: 0.5rem;
            justify-content: space-between;
            .box{
                display: flex;
                align-items: center;
                span{
                    padding: 0 0.5rem;
                    position: relative;
                }
                .switch-box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 2rem;
                    color: #3DDFD2;
                    .switch-item1{
                        border-radius: 1rem 0 0 1rem;
                        border: 1px solid #3DDFD2;
                        padding: 0 0.7rem;
                    }
                    .switch-item2{
                        border-radius: 0 1rem 1rem 0;
                        border: 1px solid #3DDFD2;
                        padding: 0 0.7rem;
                    }
                    .bgacolor{
                        background: #3DDFD2;
                        color: #fff;
                    }
                }
            } 
        }
    }
}