page-change-baby-height{
    .normal-page{
        .datetime-ios{
            padding: 0;
        }
        .text-input{
            border: 0;
        }
        // .top-time{
        //     padding: 1rem;
        //     box-shadow: 0 0 5px #ccc;
        //     border-radius: 0.5rem;
        //     display: flex;
        //     justify-content: space-between;
        //     .box{
        //         display: flex;
        //         align-items: center;
        //         img{
        //             max-width: 2rem;
        //             max-height: 2.1rem;
        //         }
        //         span{
        //             padding: 0 0.5rem;
        //             position: relative;
        //         }
        //     } 
        // }
        .content-box{
            padding: 16px;
            .top-time{
                margin: 0.7rem 0;
                padding: 1rem;
                box-shadow: 0 0 5px #ccc;
                border-radius: 0.5rem;
                display: flex;
                justify-content: space-between;
                .box{
                    display: flex;
                    align-items: center;
                    img{
                        max-width: 2rem;
                        max-height: 2.1rem;
                    }
                    input{
                        text-align: right;
                    }
                } 
            }
            .btn-box{
                width: 100%;
                text-align: center;
                margin: 10rem 0 0 0;
                button{
                    background: #3DDFD2;
                    color: #fff;
                    height: 3rem;
                    line-height: 3rem;
                    width: 10rem;
                    text-align: center;
                    border-radius: 1.5rem;
                }
            }
            .footer-box{
                width: 100%;
                text-align: center;
                color: #3DDFD2;
                line-height: 2.5rem;
            }
        }
    }
}