page-fetal-movement-record{
    .normal-page{
        .header-box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            line-height: 3.5rem;
        }
        ul{
            padding: 0 1rem;
            li{
                border-top: 1px solid #C2C5C4;
                line-height: 3rem;
                .list-box{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    div{
                        width: 33.33%;
                    }
                    .text-center{
                        text-align: center;
                    }
                    .text-right{
                        text-align: right;
                    }
                    .normal-btn{
                        border: 1px solid #3DDFD2;
                        padding: 0.1rem 0.9rem;
                        border-radius: 1rem;
                    }
                }
                .first-child{
                    border-bottom: 1px dotted #C2C5C4;
                }
            }
        }
    }
}