<ion-header>
    <ion-navbar>
        <ion-title>胎动记录</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="normal-page">
        <div class="header-box">
            <div>开始时间</div>
            <div>有效点击</div>
            <div>点击次数</div>
        </div>
        <ul>
            <li>
                <div class="list-box first-child">
                    <div>22：30—23：30</div>
                    <div class="text-center">次</div>
                    <div class="text-right">次</div>
                </div>
                <div class="list-box">
                    <div>2018.09.20</div>
                    <div class="text-center">孕8周</div>
                    <div class="text-right">
                        <span class="normal-btn">正常</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</ion-content>