<ion-header>
  <!-- <ion-navbar>
    <ion-title>mine</ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content>
  <div class="flex-box mine-flex-page font-color4">
    <div class="top-box">
      <div class="top-header">
        <div class="top-items">BMI值</div>
        <div class="top-items">
          <img class='bg-img' src="../../../assets/imgs/demo.png" alt="">
        </div>
        <div class="top-items">糖尿病标识</div>
      </div>
      <div class="top-center">用户昵称</div>
      <div class="top-footer">距宝宝出生22天</div>
      <div class="pos-bg-img">
        <img src="../../../assets/imgs/mine-bg-img.png" alt="">
      </div>
    </div>
    <ul class='content-list'>
      <li class='first-item' padding>
        <!-- <img src="../../../assets/imgs/mine-yunfu.png" alt=""> -->
        <div class="text-bix1">孕育阶段</div>
        <div class="line-center"></div>
        <div class="text-bix2">孕37周+3天</div>
        <!-- <div class='right'>
            <img src="../../../assets/imgs/right-icon.png" alt="">
        </div> -->
      </li>
      <li *ngFor='let item of listData' class='content-item' (click)='toPage(item.id)'>
        <div class="first-icon">
          <img src="{{item.icon}}" alt="">
        </div>
        <div class="text-content">{{item.text}}</div>
      </li>
    </ul>
  </div>
</ion-content>
