page-mine {
    .mine-flex-page{
        // background: #D8D8D8;
        flex-direction: column;
    }
    .top-box{
        height: 18rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        color: #fff;
        .top-header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 70px;
                height: 70px;
            }
            .top-items{
                width: 33.3%;
                text-align: center;
            }
        }
        .top-center,
        .top-footer{
            margin-top: 10px;
        }
        .pos-bg-img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -99;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .content-list{
        width: 100%;
        margin-top: -2.2rem;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
            box-shadow: 0 0 5px #ccc;
            box-sizing: border-box;
            border-radius: 3px;
            background: #fff;
        }
        .content-item{
            width: 32.5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 11rem;
            line-height: 2rem;
            margin-bottom: 5px;
        }
        .first-item{
            width: 100%;
            height: 5.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            font-size: 16px;
            color: #3DDFD2;
            .line-center{
                width: 1px;
                height: 25px;
                background: #ccc;
                margin: 0 1rem;
            }
            .text-bix1{
                width: 10rem;
                text-align: right;
            }
            .text-bix2{
                width: 10rem;
                text-align: left;
            }
        }
    }
}
