page-faq-detail{
    .article-box{
        margin: 0.8rem -6px;
        border-radius: 0.5rem;
        padding: 1rem 1.2rem;
        box-shadow: 0 0 0.5rem #ccc;
        background: #fff;
        .article-title{
            font-size: 1.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 2.8rem;
            .icons{
                img{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
        .article-title2{
            font-size: 1.6rem;
            padding: 1rem 0;
        }
        .article-answer{
            text-indent: 2rem;
            line-height: 2.4rem;
        }
        .article-other{
            color: #3DDFD2;
            padding-bottom: 1rem;
        }
    }
    .article-content{
        min-height: 40rem;
    }
}