<ion-header>

    <ion-navbar>
        <ion-title>问与答详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="normal-page">
        <div class="article-box">
            <div class="article-title">
                <div>孕早期有哪些注意事项呢？</div>
                <div class="icons">
                    <!-- <ion-icon name="star" style='color: yellow'></ion-icon>
                    <ion-icon ios="md-share" md="md-share" color="secondary"></ion-icon> -->
                    <img src="../../../assets/imgs/shoucang.png" alt="">
                    <img src="../../../assets/imgs/share.png" alt="">
                </div>
            </div>
        </div>
        <div class="article-box article-content">
            <div class="article-answer">
                孕期营养胎儿生长所需营养都来自于孕妇。孕妇必须从食物中获取足够的营养，以满足自身的营养和胎儿生长
                发育的需要。孕妇的进食要适当，比平时应增加25%，但孕末期要适当控制进食量，防止营养过剩，
                因进食过多可导致消化不良。胎儿生长所需营养都来自于孕妇。孕妇必须从食物中获取足够的营养，
                以满足自身的营养和胎儿生长发育的需要。孕妇的进食要适当，比平时应增加25%，但孕末期要适当控制进食量，
                防止营养过剩，因进食过多可导致消化不良，妊娠糖尿病。
            </div>
            <div class="article-title2">
                <div>引用知识：</div>
            </div>
            <div class="article-other">
                <div>孕早期有哪些注意事项呢？(来自孕产 APP)</div>
            </div>
            <div>孕早期在饮食方面有哪些注意事项呢？</div>
        </div>
    </div>
</ion-content>