<ion-header>

    <ion-navbar>
        <ion-title>设置提醒</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="content-box">
            <div class="top-time">
                <div class="box">
                    <span>产检日期</span>
                </div>
    
                <div class="box">
                    <span class="date-span">
                        <ion-datetime displayFormat="YYYY年MM月DD日" cancelText="取消" [(ngModel)]="dateTime" doneText="确定" placeholder="2018年12月01日"></ion-datetime>
                    </span>
                    <img src="../../../assets/imgs/right-icon.png" alt="">
                </div>
            </div>

            <div class="top-time">
                <div class="box">
                    <span>提醒时间</span>
                </div>
                <div class="box">
                    <span class="date-span">
                        <ion-multi-picker class='text-input ion-datetime font-color3' [(ngModel)]="hourMinite" placeholder="10:00" item-content [multiPickerColumns]="dataDateTimes" cancelText="取消" doneText="确定"></ion-multi-picker>
                    </span>
                    <img src="../../../assets/imgs/right-icon.png" alt="">
                </div>
            </div>

            <div class="btn-box">
                <button ion-button (click)='save()'>保存</button>
            </div>
        </div>
    </div>
</ion-content>