<ion-header>

    <ion-navbar>
        <ion-title>初诊建卡</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="normal-page font-color4">
        <div class="article-box">
            <div class="first-line">
                <div class='font-color1'>
                    初诊建卡
                </div>
                <div>
                    <img src="../../../assets/imgs/diet-circle.png" alt="">
                </div>
            </div>
            <div>建议时间：孕8—12周</div>
            <div>建立“孕妇健康手册”档案，以后每次孕检结果都将记录在内，供日后参考。</div>
        </div>
        <div class="article-box">
            <div class="content-title">
                产检介绍: 
            </div>
            <div class="content-text">此次检査项目主要包括：量体重和血压；医生进行问诊；B超检査（主要是听胎心，排除宫外孕和计算胎儿大小）；验尿；身体其他各部位的检查；抽血；检査子宫大小；胎儿颈部透明带筛査（主要是对宝宝患唐氏综合征的可能性进行评估）。</div>
            <div class="content-title">
                产检项目介绍: 
            </div>
            <div class="flex-box">
                <div *ngFor="let i of firstData">
                    <div class="for-list">
                        {{i.text}}
                    </div>
                </div>
            </div>
            <div class="font-color1">
                血压: 
            </div>
            <div class="font-color1">
                血常规: 
            </div>
        </div>
        <div class="article-box">
            <div class="content-title">
                注意事项: 
            </div>
            <div class="content-text">此次检査项目主要包括：量体重和血压；医生进行问诊；B超检査（主要是听胎心，排除宫外孕和计算胎儿大小）；验尿；身体其他各部位的检查；抽血；检査子宫大小；胎儿颈部透明带筛査（主要是对宝宝患唐氏综合征的可能性进行评估）。</div>
        </div>
    </div>
</ion-content>