page-births-seized-item{
    .normal-page{
        width: 100%;
        .article-box{
            line-height: 2.5rem;
            position: relative;
            z-index: 99;
            border-radius: 0.5rem;
            padding: 1rem;
            box-shadow: 0 0 0.5rem #ccc;
            background: #fff;
            margin-bottom: 1rem;
            .first-line{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .content-text{
                text-indent: 2rem;
            }
            .flex-box{
                display: flex;
                flex-wrap: wrap;
                .for-list{
                    white-space:nowrap;
                    padding: 0 1.5rem;
                    line-height: 2.7rem;
                    height: 2.5rem;
                    background: #3DDFD2;
                    color: #fff;
                    border-radius: 12px;
                    margin: 5px 5px 5px 0;
                }
            }
        }
    }
}