page-recipes{
   .normal-page{
       padding: 16px;
       position: relative;
       .modal-page{
           position: absolute;
           width: 100%;
           height: 100vh;
           z-index: 10;
           background: rgba(255,255,255, 0.8);
           .text-bar{
                width: 100%;
                text-align: right;
                padding-right: 36px;
                line-height: 3rem;
                span{
                    border: 1px solid #3DDFD2;
                    border-radius: 2rem;
                    padding: 0.3rem 1rem;
                }
                
           }
           .style1{
               span{
                    background: #3DDFD2;
                    color: #fff;
               }
           }
           .pos-footer{
               position: absolute;
               top: 70vh;
               left: 50%;
               width: 44px;
               height: 44px;
               margin-left: -38px;
           }
       }
       ul{
           position: relative;
           .pos-text{
               position: absolute;
               right: -16px;
               top: 2rem;
                z-index: 1;
                border: 1px solid #3DDFD2;
                background: #3DDFD2;
                color: #fff;
                padding: 0.1rem 1rem;
                border-radius: 1rem 0 0 1rem;
           }
           li{
               width: 100%;
               box-shadow: 0 0 5px #ccc;
               margin-top: 0.5rem; 
               display: flex;
               .item-img{
                    width: 50%;
                    img{
                        width: 100%;
                    }
               }
               .item-box{
                    width: 50%;
                    display: flex;
                    padding-left: 1rem;
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: center;
               }
           }
       }
   }
}