<ion-header>

    <ion-navbar>
        <ion-title>营养食谱</ion-title>
        <button ion-button clear (click)='modelAlert()' style="padding: 0; position: absolute; right: 6px; top: 6px;height: 22px">  
            <img class="back-btn" src="../../../assets/imgs/top-list.png" />  
        </button> 
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="modal-page" *ngIf='isChoiced'>
            <div *ngFor='let item of listText, let i = index' (click)='clickItem(i)' [ngClass]="{'text-bar': 'true', 'style1': item.isChoice}"><span>{{item.text}}</span></div>
            <div class="pos-footer">
                <img (click)='clickClose()' src="../../../assets/imgs/close.png" alt="">
            </div>
        </div>
        <ul>
            <div class="pos-text">{{text}}</div>
            <li *ngFor='let item of listData, let i = index' (click)='toPage(i)' [ngStyle]='{"flex-direction": i%2==0?"row":"row-reverse"}'>
                <div class="item-img">
                    <img src="{{item.img}}" alt="">
                </div>
                <div class="item-box">
                    <div>{{item.status}}</div>
                    <div>{{item.title}}</div>
                    <div>{{item.detail}}</div>
                </div>
            </li>
        </ul>
    </div>
</ion-content>