<!--
  Generated template for the IndexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>indexPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="flex-page">
    
  </div>
</ion-content>
