page-food-gi{
    .normal-page{
        width: 100%;
        height: 100%;
        .top-bar{
            height: 50px;
            width: 100%;
            padding: 0 16px;
            background: #3DDFD2;
            position: relative;
            input{
                height: 30px;
                width: 100%;
                margin: 10px 0;
                border-radius: 15px;
                border: 0;
                padding: 0 15px;
            }
            .search{
                position: absolute;
                right: 8%;
                top: 18px;
            }
        }
        .content-box{
            display: flex;
            flex-wrap: wrap;
            padding-top: 1.4rem;
            width: 100%;
            .item-box{
                width: 33.33%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .circle-box{
                    width: 6.3rem;
                    height: 6.3rem;
                    border-radius: 50%;
                    border: 2px dotted #DEDDDD;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .text-box{
                    padding: 0.7rem 0;
                }
            }
        }
    }
}