<ion-header>

    <ion-navbar>
        <ion-title>糖尿病GI值</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page font-color4">
        <div class="top-bar">
            <input type="text" placeholder="请输入食物名称" (focus)="focusInput()" [(ngModel)]="keyword">
            <ion-icon class="search" name="search"></ion-icon>
        </div>
        <div class="content-box">
            <div class="item-box" *ngFor='let item of listData'>
                <div class="circle-box" (click)='toFood(item.id)'>
                    <img src="{{item.icon}}" alt="">
                </div>
                <div class="text-box">
                    {{item.text}}
                </div>
            </div>
        </div>
    </div>
</ion-content>