<ion-header>

    <ion-navbar>
        <ion-title>分享成功故事</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <ul class='success-box'>
            <li *ngFor='let item of listData' (click)='toDetail(item.id)'>
                <div class="left-img">
                    <img src="{{item.article_img}}" alt="">
                </div>
                <div class="right-text">
                    <div>
                        {{item.title}}
                    </div>
                    <div>{{item.remark1}}</div>
                    <div class="font-color1">{{item.remark2}}</div>
                </div>
            </li>
        </ul>
    </div>
</ion-content>