page-success-story{
    .normal-page{
        .success-box{
            li{
                padding: 10px 16px;
                display: flex;
                background: #fff;
                align-items: center;
                .left-img{
                    width: 11rem;
                }
                .right-text{
                    padding-left: 1rem;
                    div{
                        padding: 2px 0;
                    }
                }
            }
        }
    }
}