page-concat {
    .normal-page{
        width: 100%;
        height: 100%;
        overflow: scroll;
        position: relative;
        
        .pos-point{
            position: fixed;
            right: 0;
            bottom: 6rem;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            background: #3DDFD2;
            color: #fff;
            font-size: 2rem;
            z-index: 99;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .top-box{
            position: relative;
            text-align: center;
            height: 22.5rem;
            .pos-concat-bg{
                position: absolute;
                z-index: -10;
                width: 100%;
                height: 100%;
                line-height: 2.7rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .top-bar{
                height: 50px;
                width: 100%;
                padding: 10px 16px 0 16px;
                position: relative;
                input{
                    height: 30px;
                    width: 100%;
                    margin: 10px 0;
                    border-radius: 15px;
                    border: 0;
                    padding: 0 15px;
                }
                .search{
                    position: absolute;
                    right: 8%;
                    top: 28px;
                }
            }
            .flex-top-box{
                color: #fff;
                line-height: 2.5rem;
                margin-top: 3rem;
                button{
                    width: 7.3rem;
                    height: 2.5rem;
                    background: #3DDFD2;
                    border-radius: 1.3rem;
                }
            }
        }
        .home-card{
            border-bottom: 2px solid #EDEDED;
            padding: 0.5rem 16px;
            .card-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 3rem;
                margin-bottom: 0.5rem;
                color: #868888;
            }
            .card-img{
                position: relative;
                .pos-card-img-text{
                    position: absolute;
                    top: 50%;
                    margin-left: 1rem;
                    width: 100%;
                    text-align: center;
                    color: #fff;
                    span{
                        display: inline-block;
                        padding: 0.4rem;
                    }
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}
