<ion-header>
    <!-- <ion-navbar>
        <ion-title>社交</ion-title>
    </ion-navbar> -->
</ion-header>

<ion-content>
    <div class="normal-page">
        <div class="pos-point" (click)='toPointing()'>
            发布
        </div>
        <div class="top-box">
            <div class='pos-concat-bg'>
                <img src="../../../assets/imgs/concat-bg.png" alt="">
            </div>
            <div class="top-bar">
                <input type="text" placeholder="请输入关键字" (focus)="focusInput()" [(ngModel)]="keyword">
                <ion-icon class="search" name="search"></ion-icon>
            </div>
            <div class="flex-top-box">
                <div>记录孕期生活换积分</div>
                <div>线下妇幼专家面对面咨询</div>
                <div>
                    <button ion-button (click)='toExchange()'>去兑换</button>
                </div>
            </div>

        </div>
        <div class="home-card" *ngFor='let item of cardData'>
            <div class="card-title" (click)='toYunZao(item.id)'>
                <div class="card-title-text">{{item.title}}</div>
                <div>
                    <img src="../../../assets/imgs/home-right.png" alt="">
                </div>
            </div>
            <div class="card-img">
                <div class="pos-card-img-text"><span>{{item.text}}</span></div>
                <div class="cimg">
                    <img src="{{item.img}}" alt="">
                </div>
            </div>
        </div>
    </div>
</ion-content>