<ion-header>

    <ion-navbar>
        <ion-title>膳食</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class='normal-page'>
        <div class="masonry">
            <div class="column">
                <div class="item" *ngFor='let item of img_data1, let i = index' [ngStyle]="{'height': item.canEdit? '18rem' : '20rem'}" (click)='toPage(item.id)'>
                    <div *ngIf='!item.canEdit' class="pos-bg">
                        <img src="{{item.bgImg}}" alt="">
                    </div>
                    <div *ngIf='!item.canEdit' class="pos-points">
                        {{item.accumulatePoints}}积分
                    </div>
                    <div>
                        <img *ngIf='item.canEdit && i > 0' src="../../../assets/imgs/write-icon.png" alt="">
                        <img *ngIf='i==0' src="../../../assets/imgs/diet-add.png" alt="">
                    </div>
                    
                    <div *ngIf='i > 0' [ngClass]="{'fffcolor': !item.canEdit?true:false}">
                        {{item.dateTime}}
                    </div>
                    <div [ngClass]="{'fffcolor':!item.canEdit?true:false}">
                        {{item.status}}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="item" *ngFor='let item of img_data2, let i = index' [ngStyle]="{'height': item.canEdit? '18rem' : '20rem'}" (click)='toPage(item.id)'>
                    <div *ngIf='!item.canEdit' class="pos-bg">
                        <img src="{{item.bgImg}}" alt="">
                    </div>
                    <div *ngIf='!item.canEdit' class="pos-points">
                        {{item.accumulatePoints}}积分
                    </div>
                    <div>
                        <img *ngIf='item.canEdit' src="../../../assets/imgs/write-icon.png" alt="">
                    </div>
                    
                    <div [ngClass]="{'fffcolor': !item.canEdit?true:false}">
                        {{item.dateTime}}
                    </div>
                    <div [ngClass]="{'fffcolor': !item.canEdit?true:false}">
                        {{item.status}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>