page-oneday-movement{
    .normal-page{
        width: 100%;
        height: 100%;
        overflow: scroll;
        
        .content-box{
            margin: 1rem;
            .top-time{
                padding: 1rem;
                box-shadow: 0 0 5px #ccc;
                border-radius: 0.5rem;
                display: flex;
                justify-content: space-between;
                .box{
                    display: flex;
                    align-items: center;
                    img{
                        max-width: 2rem;
                        max-height: 2.1rem;
                    }
                    span{
                        padding: 0 0.5rem;
                        position: relative;
                    }
                    .date-span{
                        margin-bottom: -8px;
                    }
                } 
            }
            .center-box{
                line-height: 2.5rem;
                overflow: scroll;
                height: 100vh;
                padding: 3px;
                padding-bottom: 45px;
                ul{
                    li{
                        padding: 1.1rem;
                        box-shadow: 0 0 5px #ccc;
                        margin: 0.5rem 0;
                        border-radius: 0.5rem;
                        .one-line{
                            display: flex;
                            flex-direction: column;
                            .circle-icon{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 25%;
                                img{
                                    width: 4.6rem;
                                    height: 4.6rem;
                                }
                            }
                            .minute{
                                height: 3rem;
                                padding: 0 1rem;
                                background: #3DDFD2;
                                color: #fff;
                                width: 10rem;
                                margin-left: -1rem;
                                border-radius: 0 1.5rem 1.5rem 0;
                                line-height: 3rem;
                                box-shadow: 0 0 3px #3DDFD2;
                            }
                        }
                    }
                }
            }
        }
        .footer-btn{
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-left: 1px;
            .button-box{
                width: 50%;
                margin-right: 1px;
                button{
                    width: 100%;
                    margin: 0;
                    background: #3DDFD2;
                    color: #fff;
                    border: 0;
                }
            }
        }
    }
}