<ion-header>

    <ion-navbar>
        <ion-title>一天的运动</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="content-box">
            <div class="top-time">
                <div class="box">
                    <img src="../../../assets/imgs/rili.png" alt="">
                    <span>日期</span>
                </div>

                <div class="box">
                    <span class="date-span">
                        <ion-datetime displayFormat="YYYY年MM月DD日" cancelText="取消" doneText="确定" placeholder="2018年12月01日"></ion-datetime>
                    </span>
                    <img src="../../../assets/imgs/right-icon.png" alt="">
                </div>
            </div>
            <div class="center-box">
                <ul>
                    <li>
                        <div class="one-line">
                            <div class="text-box">
                                <div>低强度: </div>
                            </div>
                            <div class="circle-icon">
                                <img src="../../../assets/imgs/mothon-icon1.png" alt="">
                                <span>购物</span>
                            </div>
                            <div class="minute">
                                20分钟
                            </div>
                        </div>
                        <div class="one-line">
                            <div class="text-box">
                                <div>中强度: </div>
                            </div>
                            <div class="circle-icon">
                                <img src="../../../assets/imgs/mothon-icon2.png" alt="">
                                <span>散步</span>
                            </div>
                            <div class="minute">
                                20分钟
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="one-line">
                            <div class="text-box">
                                <div>坐着时长: </div>
                            </div>
                            <!-- <div class="circle-icon">
                                <img src="../../../assets/imgs/mothon-icon1.png" alt="">
                                <span>购物</span>
                            </div> -->
                            <div class="minute">
                                1.5小时
                            </div>
                        </div>
                        <div class="one-line">
                            <div class="text-box">
                                <div>睡眠时长: </div>
                            </div>
                            <!-- <div class="circle-icon">
                                <img src="../../../assets/imgs/mothon-icon2.png" alt="">
                                <span>散步</span>
                            </div> -->
                            <div class="minute">
                                8小时
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="footer-btn">
            <div class="button-box">
                <button ion-button>保存</button>
            </div>
            <div class="button-box">
                <button ion-button>完成</button>
            </div>
        </div> -->
    </div>
</ion-content>