page-contact-us{
    .normal-page{
        .text-input{
            border: 0;
            margin-right: 0.5rem;
        }
        .top-time{
            padding: 1rem;
            box-shadow: 0 0 3px #ccc;
            display: flex;
            border-radius: 0.5rem;
            justify-content: space-between;
            .box{
                display: flex;
                align-items: center;
                img{
                    max-width: 2rem;
                    max-height: 2.1rem;
                }
                span{
                    padding: 0 0.5rem;
                    position: relative;
                }
            } 
        }
        .content-box{
            margin-top: 0.5rem;
            padding: 1rem;
            box-shadow: 0 0 3px #ccc;
            display: flex;
            border-radius: 0.5rem;
            flex-direction: column;
            .text-box{
                padding-top: 0.5rem;
                width: 100%;
                textarea{
                    border: none;
                    width: 100%;
                }
            }
        }
        .btn-send{
            height: 3rem;
            width: 100%;
            text-align: center;
            margin: 1rem 0;
            button{
                background: #3DDFD2;
                color: #fff;
                width: 10rem;
                height: 3rem;
                border-radius: 1.5rem;
                font-size: 1.5rem;
            }
        }
    }
}