<ion-header>

    <ion-navbar>
        <ion-title>联系我们</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="normal-page">
        <div class="top-time">
            <div class="box">
                <span>联系邮箱</span>
            </div>

            <div class="box">
                <input placeholder='填写邮件信息' [(ngModel)]='email' class='text-right text-input'/>
                <img src="../../../assets/imgs/right-icon.png" alt="">
            </div>
        </div>

        <div class="content-box">
            <div>反馈内容</div>
            <div class="text-box">
                <textarea name="" id="" rows="10" [(ngModel)]='content'></textarea>
            </div>
        </div>

        <div class="btn-send">
            <button (click)='sendEmail()'>发送</button>
        </div>
    </div>
</ion-content>