page-post-detail{
    .normal-page{
        .list{
            li{
                border-bottom: 2px solid #fafafa;
                .list-box{
                    padding: 16px;
                    display: flex;
                    flex-wrap: wrap;
                    .header-img{
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                    .username{
                        padding-left: 1rem;
                    }
                    .label{
                        align-self: flex-end;
                        margin: 5px 1rem;
                        padding: 0.2rem 1rem;
                        background: #3DDFD2;
                        color: #fff;
                        border-radius: 1.5rem;
                        font-size: 1rem;
                    }
                }
                .content{
                    color: #7B7B7B;
                    padding: 0 16px;
                    .text-box{

                    }
                    .img-box{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        margin-left: -0.5rem;
                        .img-div{
                            height: 10rem;
                            width: 33.3%;
                            padding-left: 0.5rem;
                            overflow: hidden;
                            img{
                                height: 100%;
                            }
                        }
                    }
                }
                .footer{
                    display: flex;
                    align-items: center;
                    height: 3rem;
                    .icon-box{
                        padding-left: 4rem;
                        display: flex;
                        align-items: center;
                        img{
                            margin: 0 0.5rem;
                        }
                    }
                }
            }
        }
        .article-talk{
            width: 100%;
            padding: 10px 16px 55px 16px;
            .article-talk-title{
                border-left: 0.5rem solid #3DDFD2;
                text-indent: 1rem;
            }
            ul{
                li{
                    display: flex;
                    width: 100%;
                    border-bottom: 2px solid #FAFAFA;
                    padding: 1rem 0.5rem;
                    .header-img{
                        margin: 0;
                        width:2.7rem;
                        height: 2.7rem;
                        border-radius: 50%;
                        overflow: hidden;
                        text-align: center;
                        img{
                            width: 100%
                        } 
                    }
                    .talk-title{
                        padding-left: 0.5rem;
                        flex-grow: 1;
                        line-height: 1.8rem;
                        .talk-reply{
                            font-weight: bold;
                        }
                    }
                    .talk-content{
                        text-align: right;
                    }
                }
            }
        }
        .article-footer{
            height: 50px;
            width: 100%;
            background: #FAFAFA;
            position: fixed;
            bottom: 0;
            padding: 0 4rem 0 1.5rem;
            input{
                height: 30px;
                width: 100%;
                margin: 10px 0;
                border-radius: 15px;
                border: 1px solid #ccc;
                padding: 0 15px;
            }
            .search{
                position: absolute;
                right: 1rem;
                top: 15px;
                color: #868888;
            }
        }
    }
}