page-knowledge-base{
    .normal-page{
        // background: #ccc;
        width: 100%;
        height: 100%;
    }
    .top-bar{
        height: 50px;
        width: 100%;
        position: relative;
        background: #2CDBCD;
        padding: 0 16px;
        input{
            height: 30px;
            width: 100%;
            margin: 10px 0;
            border-radius: 15px;
            border: 1px solid #2CDBCD;
            padding: 0 15px;
        }
        .search{
            position: absolute;
            right: 7%;
            top: 18px;
        }
    }
    .search-text-box{
        padding: 16px;
        color: #606060;
        .box-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .for-list{
            white-space:nowrap;
            padding: 0 10px;
            line-height: 25px;
            height: 25px;
            background: #F4F4F4;
            color: #868888;
            border-radius: 12px;
            margin: 5px 7px;
        }
        .flex-box{
            display: flex;
            flex-wrap: wrap;
            height: auto;
            .box-title{
                font-size: 1.5rem;
            }
        }
    }
   
    .flex-ul{
        display: flex;
        flex-direction: column;
        li{
            padding: 0 16px;
            color: #606060;
            line-height: 2rem;
            font-size: 1.3rem;
            border-bottom: 2px solid #F4F4F4;
            .article-title{
                line-height: 35px;
                font-size: 1.5rem;
            }
            .article-content{
                text-overflow: -o-ellipsis-lastline;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .article-remark{
                color: #BEBDBE;
                font-size: 1rem;
            }
        }
    }
}