page-activity-detail{
    .normal-page{
        width: 100%;
        .header-img{
            img{
                width: 100%;
            }
        }
        .article-header{
            position: relative;
            z-index: 99;
            border-radius: 0.5rem;
            padding: 1rem;
            line-height: 1.8rem;
            box-shadow: 0 0 0.5rem #ccc;
            background: #fff;
            margin-top: -5rem;
            .article-title{
                font-size: 1.3rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .icons{
                    img{
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
            .article-time{
                font-size: 10px;
                color: #999;
            }
            .article-auther-header{
                padding: 0.5rem 0;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                .header-img{
                    margin: 0;
                    width: 3.3rem;
                    height: 3.3rem;
                    border-radius: 50%;
                    overflow: hidden;
                    text-align: center;
                }
                .auther-detail{
                    padding-left: 1rem;
                }
            }
        }
        .article-content{
            margin-top: 1rem;
            width: 100%;
            padding-bottom: 55px;
            line-height: 2.5rem;
            .article-talk-title{
                border-left: 0.5rem solid #3DDFD2;
                text-indent: 1rem;
            }
            .detail-address{
                padding-left: 1rem;
            }
        }
        .activity-footer{
            border-top: 3px solid #fafafa;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 3rem;
            .footer-first{
                // line-height: 2.5rem;
            }
            .footer-header{
                position: relative;
                height: 5rem;
                width: 100%;
                display: flex;
                justify-content: center;
                li{
                    width: 2rem;
                    height: 5rem;
                    .img-box{
                        width: 5rem;
                        margin-left: -1.5rem;
                        position: relative;
                        img{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                
            }
            .footer-button{
                button{
                    padding: 0 2rem;
                    height: 3rem;
                    line-height: 3rem;
                    border-radius: 1.5rem;
                }
            }
        }
    }
}