<ion-header>

    <ion-navbar>
        <ion-title>活动详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="header-img">
            <img src="../../../assets/imgs/article-bg-img.png" alt="">
        </div>
        <div padding>
            <div class="article-header">
                <div class="article-title">
                    <div>孕早期有哪些注意事项呢？</div>
                    <div class="icons">
                        <!-- <ion-icon name="star" style='color: yellow'></ion-icon>
                        <ion-icon ios="md-share" md="md-share" color="secondary"></ion-icon> -->
                        <img src="../../../assets/imgs/shoucang.png" alt="">
                        <img src="../../../assets/imgs/share.png" alt="">
                    </div>
                </div>
                <div class='article-time'>
                        2018.03.02
                </div>
                <div class="article-auther-header"> 
                    <div class="header-img">
                        <img src="../../../assets/imgs/activety-logo.png" alt="">
                    </div>
                    <div class="auther-detail">
                        <div>复旦孕产官方小助手</div>
                        <div>积分兑换活动</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="article-content" padding>
            <div class="article-talk-title">咨询互动内容</div>
            <div class="article-content-text">
                内容
            </div>
            <div class="article-talk-title">活动详情</div>
            <div class="detail-address">
                <div>
                    地址：
                </div>
                <div>
                    电话：
                </div>
                <div>
                    联系人：
                </div>
            </div>
        </div>
        <div class="activity-footer">
            <div class="footer-first">
                已兑换用户
            </div>
            <ul class="footer-header">
                <li *ngFor='let item of headerImgList'>
                    <div class="img-box">
                        <img src="{{item.img}}" alt="" [ngStyle]="{'width': item.width + 'rem', 'height': item.width + 'rem','top': item.top + 'rem', 'z-index': item.zIndex}">
                    </div>
                </li>
            </ul>
            <div class="footer-people-num">
                已经有{{peopleNum}}位用户兑换成功
            </div>
            <div class="footer-button">
                <button ion-button (click)='duihuan()'>去兑换</button>
            </div>
        </div>
    </div>
</ion-content>