<ion-header>

    <ion-navbar *ngIf='!show'>
        <ion-title></ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div class="normal-page">
        <div class="page-box">
            <div class="page-title">
                <div class="img-box1">
                    <img src="../../../assets/imgs/modal-icon-left.png" alt="">
                </div>
                <div class="text-box">
                    使用说明
                </div>
                <div class="img-box2">
                    <img src="../../../assets/imgs/modal-icon-right.png" alt="">
                </div>
            </div>
            <div class="content-box">
                <div class="sub-title">
                    本隐私权政策部分将帮助您了解以下内容：
                </div>
                <ul>
                    <li *ngFor='let i of listData'>
                        {{i.text}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="third-box" *ngIf='show'>
            <button ion-button (click)='confirm()'>我知道了</button>
        </div>
    </div>
</ion-content>