page-privacy-policy{
    .normal-page{
        position: relative;
        height: 100%;
        font-size: 1.3rem;
        .page-box{
            padding: 16px;
            height: 100%;
            overflow: scroll;
            .page-title{
                margin-top: 3rem;
                line-height: 2.5rem;
                display: flex;
                color: #3DDFD2;
                align-items: center;
                justify-content: center;
                .img-box1,
                .img-box2{
                    padding: 0 1rem;
                }
            }
            .content-box{
                line-height: 2.5rem;
                .sub-title{
                    text-indent: 2.5rem;
                }
                ul{
                    li{
    
                    }
                }
            }
        }
        
        .third-box{
            position: absolute;
            bottom: 2rem;
            text-align: center;
            width: 100%;
            button{
                width: 130px;
                height: 34px;
                border-radius: 17px;
            }
        }
    }
}