<ion-header>

    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="title">请完成以下问卷</div>
        <div class="sub-title">
            <div class="font-color1">妊娠期糖尿病高危因素筛查</div>
            <div>请在以下选项，选择符合你自身情况的选项</div>
            <div class="align-center">（可多选）</div>
        </div>
        <ul>
            <li *ngFor='let item of listData, let i = index' (click)='choose(i)'>
                <img src="{{item.img}}" alt="">
                <span>{{item.text}}</span>
            </li>
        </ul>
        <div class="footer-btn">
            <button (click)='confirm()'>完成</button>
        </div>
    </div>
</ion-content>