page-questionnaire{
    .normal-page{
        padding: 16px;
        .title{
            line-height: 3rem;
        }
        .sub-title{
            .align-center{
                text-align: center;
            }
        }
        ul{
            li{
                display: flex;
                align-items: center;
                padding: 0.8rem 0;
                img{
                    margin-right: 1rem;
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }
        .footer-btn{
            width: 100%;
            margin-left: -16px;
            position: fixed;
            bottom: 3rem;
            text-align: center;
            button{
                height: 3.2rem;
                width: 22rem;
                line-height: 3.2rem;
                box-shadow: 0 0 3px #3DDFD2;
                background: #3DDFD2;
                color: #fff;
                border-radius: 1.6rem;
            }
        }
    }
 }