page-news{
    .normal-page{
        $slide-height-small: 40px;
        $slide-height-large: 50px;
        
        .slide-title {
            width: 100%;
            height: $slide-height-small;
            color: #666666;
            padding: 0;
            box-shadow: 0 0 3px #ccc;
        }
        
        .slide-title-unit {
            padding-bottom: 8px;
            font-size: 14px;
            height: $slide-height-small;
            line-height: $slide-height-small;
        }
        .swiper-slide{
            width: auto !important;
            padding: 0 2.2rem;
        }
        .slide-title-active {
            // color: map_get($colors, primary);
            border-bottom: 3px solid map_get($colors, primary);
        }
        .segment-box{
            .switch-box{
                padding: 16px 16px 0 16px;
                .box-title{
                    padding-bottom: 0.5rem;
                }
                .content{
                    background: #fff;
                    padding: 1rem 1.5rem;
                    box-shadow: 0 0 3px #ccc;
                    line-height: 2rem;
                    border-radius: 0.5rem;
                    position: relative;
                    .content-title{
                        padding-bottom: 0.7rem;
                    }
                    .content-text{
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                    }
                    img{
                        width: 100%;
                    }
                    .pos-circle-right{
                        position: absolute;
                        right: 1rem;
                        top: 1rem;
                        img{
                            width: 13px;
                            height: 13px;
                        }
                    }
                    .flex-box{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
                ul{
                    position: relative;
                    .pos-text{
                        position: absolute;
                        right: -16px;
                        top: 2rem;
                         z-index: 1;
                         border: 1px solid #3DDFD2;
                         background: #3DDFD2;
                         color: #fff;
                         padding: 0.1rem 1rem;
                         border-radius: 1rem 0 0 1rem;
                    }
                    li{
                        margin-bottom: 1rem;
                        .title{
                            padding-bottom: 0.5rem;
                        }
                        .flex-item-box{
                            width: 100%;
                            box-shadow: 0 0 5px #ccc;
                            margin-top: 0.5rem; 
                            display: flex;
                            .item-img{
                                 width: 50%;
                                 img{
                                     width: 100%;
                                 }
                            }
                            .item-box{
                                 width: 50%;
                                 display: flex;
                                 padding-left: 1rem;
                                 align-items: flex-start;
                                 flex-direction: column;
                                 justify-content: center;
                            }
                        }
                        .music-box{
                            display: flex;
                            width: 100%;
                            position: relative;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            margin-top: 0.5rem;
                            color: #fff;
                            height: 12rem;
                            overflow: hidden;
                            .pos-bg{
                                position: absolute;
                                width: 100%;
                                max-height: 100%;
                                left: 0;
                                top: 0;
                                z-index: -1;
                            }
                            .pos-right{
                                position: absolute;
                                right: 1rem;
                                top: 1rem;
                                img{
                                    margin-right: 0.5rem;
                                }
                            }
                            .play-line{
                                position: absolute;
                                bottom: -1.4rem;
                                left: 0;
                                width: 100%;
                                height: 3.6rem;
                            }
                        }
                    }
                }
                .success-box{
                    li{
                        .title{
                            padding-bottom: 0.5rem;
                        }
                        .flex-other-box{
                            display: flex;
                            background: #fff;
                            align-items: center;
                            // box-shadow: 
                            .left-img{
                                width: 11rem;
                            }
                            .right-text{
                                padding-left: 1rem;
                                div{
                                    padding: 2px 0;
                                }
                            }
                        }
                       
                    }
                }
            }
        }
    }
}