<ion-header>

    <ion-navbar>
        <ion-title>我的收藏</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class='segment-box'>
            <!-- <div class="top-chioce-bar">
                <div class="bar-div" *ngFor='let item of listBar' (click)='choiceBar(item.id)'>
                    <span [ngClass]="{'line-bottom': item.flag ? true : false}">{{item.text}}</span>
                </div>
            </div> -->

            <ion-slides class="slide-title" [slidesPerView]="pageNumber" [pager]="false">
                <ion-slide *ngFor="let slide of listBar; let i = index;">
                    <div (click)="onClick(i)">
                        <span class="slide-title-unit" [ngClass]="{'slide-title-active': selectedIndex == i}">{{slide.text}}</span>
                    </div>
                </ion-slide>
            </ion-slides>
            <div class="switch-box" [ngSwitch]="pet">
                <ion-list *ngSwitchCase="0">
                    <div class="box-title">
                        2018年6月30日 22：30
                    </div>
                    <div class="content">
                        <div class="content-title">
                            孕期有哪些注意事项呢？
                        </div>
                        <div class="content-img">
                            <img src="../../../assets/imgs/kownledge-img.png" alt="">
                        </div>
                    </div>
                </ion-list>
                <ion-list *ngSwitchCase="1">
                    <ul>
                        <li *ngFor='let item of musicData, let i = index'>
                            <div class="title">
                                2018年6月30日 22：30
                            </div>
                            <div class="music-box">
                                <img class='pos-bg' src="{{item.bgImg}}" alt="">
                                <div class="pos-right" *ngIf='item.isPlay'>
                                    <img src="../../../assets/imgs/download.png" (click)='download(i)' alt="">
                                    <img src="../../../assets/imgs/shoucang.png" (click)='collect(i)' alt="">
                                </div>
                                <img *ngIf='!item.isPlay' src="../../../assets/imgs/play.png" (click)="play(i)" alt="">
                                <img *ngIf='item.isPlay' src="../../../assets/imgs/pause.png" (click)="play(i)" alt="">
                                <div>{{item.title}}</div>
                                <img *ngIf='item.isPlay' class='play-line' src="../../../assets/imgs/music.png" alt="">
                            </div>
                            <audio src=""></audio>
                        </li>
                    </ul>
                </ion-list>
                <ion-list *ngSwitchCase="2">
                    <div class="box-title">
                        2018年6月30日 22：30
                    </div>
                    <div class="content">
                        <div class="content-title">
                            孕期有哪些注意事项呢？
                        </div>
                        <div class="content-text">
                            孕期营养胎儿生长所需营养都来自于孕妇。孕妇必须从食物中获取足够的营养，以满足自身的营养和胎儿生长发育的需要孕期营养胎儿生长所需营养都来自于孕妇。孕妇必须从食物中获取足够的营养，以满足自身的营养和胎儿生长发育的需要......
                        </div>
                    </div>
                </ion-list>
                <ion-list *ngSwitchCase="3">
                    <ul>
                        <li *ngFor='let item of listItems, let i = index' (click)='toPage(i)' [ngStyle]='{"flex-direction": i%2==0?"row":"row-reverse"}'>
                            <div class="box-title">
                                2018年6月30日 22：30
                            </div>
                            <div class="flex-item-box">
                                <div class="item-img">
                                    <img src="{{item.img}}" alt="">
                                </div>
                                <div class="item-box">
                                    <div>{{item.firstText}}</div>
                                    <div>{{item.secondText}}</div>
                                    <div>{{item.thirdText}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </ion-list>
                <ion-list *ngSwitchCase="4">
                    <ul class='success-box'>
                        <li *ngFor='let item of others' (click)='toDetail(item.id)'>
                            <div class="title">
                                2018年6月30日 22：30
                            </div>
                            <div class="flex-other-box">
                                <div class="left-img">
                                    <img src="{{item.img}}" alt="">
                                </div>
                                <div class="right-text">
                                    <div>
                                        {{item.title}}
                                    </div>
                                    <div>{{item.resource}}</div>
                                    <div class="font-color1">{{item.from}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </ion-list>
            </div>
        </div>
    </div>
</ion-content>