page-food-list{
    .normal-page{
        .content-box{
            display: flex;
            flex-wrap: wrap;
            padding-top: 1.4rem;
            width: 100%;
            .item-box{
                width: 33.33%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border: 2px solid #fafafa;
                border-width: 0 2px 2px 0;
                box-sizing: border-box;
                .circle-box{
                    width: 6.3rem;
                    height: 6.3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .text-box{
                    line-height: 2rem;
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}