<ion-header>

    <ion-navbar>
        <ion-title>糖尿病GI值</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page font-color4">
        <div class="content-box">
            <div class="item-box" *ngFor='let item of listData'>
                <div class="circle-box" (click)='toFood(item.id)'>
                    <img src="{{item.icon}}" alt="">
                </div>
                <div class="text-box">
                    <div>{{item.text}}</div>
                    <div>{{item.text}}</div>
                </div>
            </div>
        </div>
    </div>
</ion-content>