page-prenatal-education{
    .normal-page{
        height: 100%;
        overflow: scroll;
        .music-box{
            display: flex;
            width: 100%;
            position: relative;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 0.5rem;
            color: #fff;
            height: 12rem;
            overflow: hidden;
            .pos-bg{
                position: absolute;
                width: 100%;
                max-height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
            }
            .pos-right{
                position: absolute;
                right: 1rem;
                top: 1rem;
                img{
                    margin-right: 0.5rem;
                }
            }
            .play-line{
                position: absolute;
                bottom: -1.4rem;
                left: 0;
                width: 100%;
                height: 3.6rem;
            }
        }
    }
}