<ion-header>

    <ion-navbar>
        <ion-title>胎教音乐</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="normal-page">
        <div class="music-box" *ngFor='let item of listData, let i = index'>
            <img class='pos-bg' src="{{item.bgImg}}" alt="">
            <div class="pos-right" *ngIf='item.isPlay'>
                <img src="../../../assets/imgs/download.png" (click)='download(i)' alt="">
                <img src="../../../assets/imgs/shoucang.png" (click)='collect(i)' alt="">
            </div>
            <img *ngIf='!item.isPlay' src="../../../assets/imgs/play.png" (click)="play(i)" alt="">
            <img *ngIf='item.isPlay' src="../../../assets/imgs/pause.png" (click)="play(i)" alt="">
            <div>{{item.title}}</div>
            <img *ngIf='item.isPlay' class='play-line' src="../../../assets/imgs/music.png" alt="">
        </div>
        <audio src=""></audio>
    </div>
</ion-content>