<ion-header>

    <ion-navbar>
        <ion-title>孕育交流</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <ul>
            <li>
                <div class="list-box">
                    <div class="header-img">
                        <img src="../../../assets/imgs/article-header-img.png" alt="">
                    </div>
                    <div class="username">
                        <div>待产孕妈妈~~</div>
                        <div class="font-color3">孕20周5天</div>
                    </div>
                    <div class="label">
                        孕期运动
                    </div>
                </div>
                <div class="content">
                    <div class="text-box">
                        不知道孕期妈妈们都在用哪些孕产APP呀，待产包需要准备什么呢？
                    </div>
                    <div class="img-box">
                        <div class="img-div" *ngFor='let item of imgList' [ngStyle]="{'width': imgList.length == 1 ? '100%' : '33.33%'}">
                            <img src="{{item.img}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="icon-box">
                        <img src="../../../assets/imgs/talk.png" alt="">
                        <span>234</span>
                    </div>
                    <div class="icon-box" (click)='toPointing()'>
                        <img src="../../../assets/imgs/talk.png" alt="">
                        <span>234</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</ion-content>