<ion-header>

    <ion-navbar>
        <ion-title>修改体重</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="content-box">
            <div class="top-time">
                <div class="box">
                    <img src="../../../assets/imgs/rili.png" alt="">
                    <span>日期</span>
                </div>

                <div class="box">
                    <span class="date-span">
                        <ion-datetime displayFormat="YYYY年MM月DD日" cancelText="取消" doneText="确定" placeholder="2018年12月01日"></ion-datetime>
                    </span>
                    <img src="../../../assets/imgs/right-icon.png" alt="">
                </div>
            </div>
            <div class="top-time">
                <div class="box">
                    <span>宝宝体重（Kg)</span>
                </div>
                <div class="box">
                    <input placeholder='体重Kg' class='text-right text-input'/>
                    <!-- <span>
                        45
                        <ion-datetime displayFormat="YYYY年MM月DD日" cancelText="取消" doneText="确定" placeholder="2018年12月01日"></ion-datetime>
                    </span> -->
                    <img src="../../../assets/imgs/right-icon.png" alt="">
                </div>
            </div>

            <div class="top-time">
                <div class="box">
                    <span>宝宝身高（Cm)</span>
                </div>
                <div class="box">
                    <input placeholder='身高Cm' class='text-right text-input'/>
                    <!-- <span>12
                        <ion-item>
                                <ion-datetime displayFormat="YYYY年MM月DD日" cancelText="取消" doneText="确定" placeholder="2018年12月01日"></ion-datetime>
                            </ion-item>
                    </span> -->
                    <img src="../../../assets/imgs/right-icon.png" alt="">
                </div>
            </div>

            <div class="btn-box">
                <button ion-button (click)='save()'>保存</button>
            </div>
        </div>
    </div>
</ion-content>