page-exchange-points{
    .mine-flex-page{
        flex-direction: column;
    }
    .first-item{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        box-shadow: 0 0 3px #ccc;
        border-radius: 5px;
        .left{
            .left-first{
                display: flex;
                align-items: center;
                width: 100%;
                span{
                    margin-left: 1rem;
                }
            }
            .left-second{
                line-height: 3.5rem;
            }
        }
        .right{
            flex-grow: 1;
            text-align: right;
            button{
                background: #3DDFD2;
                color: #fff;
                width: 7rem;
                height: 2.2rem;
                border-radius: 1.1rem;
            }
        }
    }
    .content-box{
        position: relative;
        .guize{
            line-height: 2.5rem;
        }
        .pos-line{
            position: absolute;
            left: 0.75rem;
            top: 1rem;
            z-index: -1;
            height: 90%;
            overflow: hidden;
            img{
                width: 1px;
                height: 100rem;
            }
        }
        .list{
            position: relative;
            z-index: 99;
            .top-img{
                margin-top: 1rem;
                .circle-icon{
                    display: flex;
                    img{
                        margin-right: 1rem;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }
        }
    }
}