<ion-header>

    <ion-navbar>
        <ion-title>我的积分</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="flex-box mine-flex-page">
        <div class='first-item' padding>
            <div class='left'>
                <div class="left-first">
                    <img src="../../../assets/imgs/mine-icon2.png" alt="">
                    <span class="font-color1">500积分</span>
                </div>
                <div class="left-second">
                    <span>可兑换线下专家面对面咨询</span>
                </div>
            </div>
            <div class='right'>
                <button ion-button>兑换</button>
            </div>
        </div>
        <div class="content-box">
            <div class="guize">兑换规则:</div>
            <div class="list">
                <div class="pos-line">
                    <img src="../../../assets/imgs/faq-line.png" alt="">
                </div>
                <div class="top-img">
                    <div class="circle-icon">
                        <img src="../../../assets/imgs/circle.png" alt="">
                        <span>记录孕期点滴，每记录一次获取10积分；</span>
                    </div>
                </div>

                <div class="top-img">
                    <div class="circle-icon">
                        <img src="../../../assets/imgs/circle.png" alt="">
                        <span>100积分可兑换一次专家线下面对面咨询，详情可查看社交圈活动；</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>