page-gadget{
    .content-box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        li{
            width: 48%;
            height: 13.33rem;
            box-shadow: 0 0 5px #ccc;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border-radius: 5px;
            margin-top: 0.8rem; 
            div{
                line-height: 4rem;
                height: 4rem;
            }
        }
    }
}