<ion-header>

    <ion-navbar>
        <ion-title>小工具</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="normal-page">
        <ul class='content-box'>
            <li *ngFor='let item of listData, let i = index' (click)='toPage(i)'> 
                <img src="{{item.img}}" alt="">
                <div>{{item.text}}</div>
            </li>
        </ul>
    </div>
</ion-content>