page-questionnaire-feedding-type{
    .normal-page{
        padding: 16px;
        .title{
            line-height: 3rem;
        }
        .sub-title{
            .align-center{
                text-align: center;
            }
        }
        ul{
            li{
                .modal-center{
                    line-height: 2rem;
                    letter-spacing: 3px;
                    .model-item{
                        margin: 0.7rem 0;
                        border-radius: 0.5rem;
                        text-align: center;
                        line-height: 5.5rem;
                        box-shadow: 0 0 5px #ccc;
                    }
                }
            }
        }
        .footer-btn{
            width: 100%;
            margin-left: -16px;
            position: fixed;
            bottom: 3rem;
            text-align: center;
            button{
                height: 3.2rem;
                width: 22rem;
                line-height: 3.2rem;
                box-shadow: 0 0 3px #3DDFD2;
                background: #3DDFD2;
                color: #fff;
                border-radius: 1.6rem;
            }
        }
    }
 }