<ion-header>

        <ion-navbar>
            <ion-title></ion-title>
        </ion-navbar>
    
    </ion-header>
    
    
    <ion-content>
        <div class="normal-page">
            <div class="title">请完成以下问卷</div>
            <div class="sub-title">
                <div class="font-color1">您宝宝的喂养方式</div>
                <div>请根据自身情况选择相应的选项</div>
                <div class="align-center"></div>
            </div>
            <ul>
                <li *ngFor='let item of renchenList, let i = index'>
                    <div class="modal-center font-color4">
                        <div class="model-item" [ngStyle]="{'background': item.flag ? '#2CDBCD' : '#fff', 'color': item.flag ? '#fff' : '#7B7B7B'}"
                            (click)='renchenClick(item.id)'>{{item.name}}</div>
                    </div>
                </li>
            </ul>
            <div class="footer-btn">
                <button (click)='confirm()'>完成</button>
            </div>
        </div>
    </ion-content>