<!--
  Generated template for the PhysicalDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ionTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="content-box">
    <div *ngIf='choice==1' class="flex-page-row">
      <div class="first-box">
        身高
      </div>
      <div class="second-box">
        <div class="chi-box">
            <div class="height-container">
                <div class="height-triangle"></div>
                <div id="height-ruler" data-offset="0" (touchstart)="heighTouchstart($event)" [ngStyle]="{'transform': 'translateY(' + rulerHeight + 'rem)'}">
                    <ul class="height-ruler-ul"  (touchmove)="heightTouchmove($event)">
                        <li *ngFor='let item of heights'>
                            <span>{{item.num}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="height-num"><span class="font-color1">{{heightNum}}</span>Cm</div>
        </div>
        <div class="girl-box">
          <img src="../../assets/imgs/girl.png" alt="">
        </div>
      </div>
      <div class="third-box">
          <button ion-button (click)='nextStep()'>下一步</button>
      </div>
    </div>
    <div *ngIf='choice==2' class="flex-page-row">
      <div class="first-box">
        体重
      </div>
      <div class="second-weight-box">
        <div class="girl-box">
          <img src="../../assets/imgs/girl.png" alt="">
        </div>
        <div class="chi-box">
          <span>
            <span id="num"><span class='text-weight font-color1'>{{numText}}</span> Kg</span>
          </span>
          <div id="ruler-container">
              <div id="triangle"></div>
              <div id="ruler" data-offset="-32.5" (touchstart)="touchstart($event)" [ngStyle]="{'transform': 'translateX(' + rulerLen + 'rem)'}">
                  <ul id="ruler-ul"  (touchmove)="touchmove($event)">
                      <li *ngFor='let item of rulers'>
                          <span>{{item.num}}</span>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="third-box">
          <button ion-button (click)='confirm()'>保存</button>
      </div>
    </div>
  </div>
</ion-content>
