page-physical-data {
    .content-box{
        height: 100%;
    }
    .first-box,
    .second-box,
    .third-box{
        width: 100%;
    }
    .first-box{
        text-align: center;
        padding: 5px 0;
    }
    .second-box{
        display: flex;
        .girl-box{
            width: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            img{
                width: 125px;
                height: 325px;
                margin: 0 auto;
            }
        }
        .chi-box{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .height-num{
                span{
                    display: inline-block;
                    width: 3.5rem;
                }
                width: 6rem;
            }
            .height-container {
                position: relative;
                overflow: hidden;
                // width: 20rem;
                width: 6rem;
                height: 30rem;
                padding-left: 1rem;
                .height-triangle {
                    height: 2px;
                    width: 2rem;
                    background: #3DDFD2;
                    position: absolute;
                    top: 50%;
                    margin-top: -2px;
                    left: 2.7rem;
                    z-index: 1;
                }
                #height-ruler{
                    ul {
                        transform: translateY(-15rem);
                        height: 100rem;
                        width: 4rem;
                        position: relative;
                        li{
                            height: 5rem;
                            width: 6rem;
                            background: url(../../assets/imgs/ruler2.png) top center no-repeat;
                            background-size: auto 100%;
                            list-style: none;
                            span {
                                position: relative;
                                right:0.5rem;
                                top: -0.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .second-weight-box{
        display: flex;
        flex-direction: column;
        .girl-box{
            width: 100%;
            display: flex;
            align-items: center;
            img{
                width: 125px;
                height: 325px;
                margin: 0 auto;
            }
        }
        .chi-box{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            margin-top: 20px;
            .text-weight{
                display: inline-block;
                width: 3rem;
            }
            #ruler-container {
                position: relative;
                overflow: hidden;
                // width: 20rem;
                width: 25rem;
                height: 6rem;
                padding-top: 1rem;
                #triangle {
                    height: 2.5rem;
                    width: 2px;
                    background: #3DDFD2;
                    position: absolute;
                    top: 0.5rem;
                    left: 50%;
                    margin-left: -2px;
                    z-index: 1;
                }
                #ruler{
                    ul {
                        transform: translateX(12.5rem);
                        width: 100rem;
                        height: 4rem;
                        position: relative;
                        li{
                            width: 6.5rem;
                            height: 6rem;
                            text-align: right;
                            background: url(../../assets/imgs/ruler.png) top left no-repeat;
                            background-size: 100% auto;
                            float: left;
                            list-style: none;
                            span {
                                position: relative;
                                top:2rem;
                                right: -0.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .third-box{
        text-align: center;
        align-self: flex-end;
        margin-bottom: 30px;
        button{
            width: 130px;
            height: 34px;
            border-radius: 17px;
        }
    }
    
    
    
    
}
