page-record-weight{
    .normal-page{
        .arrow-dropdown{
            display: none;
        }
        .top-title{
            width: 100%;
            border-bottom: 2px solid #fafafa;
        }
        .button-inner{
            background: #fff;
        }
        .chi-box{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            margin: 5rem 0;
            #num{
                display: inline-block;
                width: 3rem;
            }
            #ruler-container {
                position: relative;
                overflow: hidden;
                // width: 20rem;
                width: 25rem;
                height: 5rem;
                padding-top: 1rem;
                #triangle {
                    height: 2.4rem;
                    width: 2px;
                    background: #3DDFD2;
                    position: absolute;
                    top: 0.5rem;
                    left: 50%;
                    margin-left: -2px;
                    z-index: 1;
                }
                #ruler{
                    ul {
                        transform: translateX(12.5rem);
                        width: 100rem;
                        height: 4rem;
                        position: relative;
                        li{
                            width: 6.5rem;
                            height: 5rem;
                            text-align: right;
                            background: url(../../assets/imgs/ruler.png) top left no-repeat;
                            background-size: 100% auto;
                            float: left;
                            list-style: none;
                            span {
                                position: relative;
                                top:2rem;
                                right: -0.3rem;
                            }
                        }
                    }
                }
            }
        }
        .footer{
            width: 100%;
            text-align: center;
            button{
                height: 3rem;
                color: #fff;
                border-radius: 1.5rem;
                width: 10rem;
                background: #3DDFD2;
            }
        }
    }
}