<ion-header>

    <ion-navbar>
        <ion-title>记体重</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
        
    <div class="normal-page">
        <div class="top-title">
            <ion-calendar [(ngModel)]="date"
                [options]="optionsRange"
                (onChange)="onChange($event)"
                [type]="type"
                [format]="'YYYY-MM-DD'">
            </ion-calendar>
        </div>
        <div class="chi-box">
            <span>
                <span id="num" class="font-color1">{{numText}}</span>Kg
            </span>
            <div id="ruler-container">
                <div id="triangle"></div>
                <div id="ruler" data-offset="-32.5" (touchstart)="touchstart($event)" [ngStyle]="{'transform': 'translateX(' + rulerLen + 'rem)'}">
                    <ul id="ruler-ul"  (touchmove)="touchmove($event)">
                        <li *ngFor='let item of rulers'>
                            <span>{{item.num}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <button (click)='saveNum()'>保存</button>
        </div>
    </div>
</ion-content>