<ion-header>

    <ion-navbar>
        <ion-title>活动详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="content-box">
            <div class="top-time">
                <div class="box">
                    <img src="../../../assets/imgs/rili.png" alt="">
                    <span>日期</span>
                </div>

                <div class="box">
                    <span class="date-span">
                        <ion-datetime displayFormat="YYYY年MM月DD日" cancelText="取消" doneText="确定" placeholder="2018年12月01日"></ion-datetime>
                    </span>
                    <img src="../../../assets/imgs/right-icon.png" alt="">
                </div>
            </div>

            <div class='segment-box'>
                <div class="switch-box">
                    <ion-list>
                        <div class="ion-list-box">
                            <div class="box-title">
                                运动类型：
                            </div>
                            <div class="box-center">
                                <div class="img-circle" *ngFor='let item of sportsData, let i = index' (click)='choiceItem(i)'>
                                    <img src="{{item.icon}}" alt="">
                                    <span>{{item.name}}</span>
                                    <div class="pos-icon" [ngStyle]="{'display': item.show ? 'block' : 'none'}">
                                        <img src="../../../assets/imgs/choose.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="box-title">
                                运动时长：
                            </div>
                            <div class="chi-box">
                                <span>
                                    <span id="num" class="font-color1">{{numText}}</span>分钟
                                </span>
                                <div id="ruler-container">
                                    <div id="triangle"></div>
                                    <div id="ruler" data-offset="-19.5" (touchstart)="touchstart($event)" [ngStyle]="{'transform': 'translateX(' + rulerLen + 'rem)'}">
                                        <ul id="ruler-ul" (touchmove)="touchmove($event)">
                                            <li *ngFor='let item of rulers'>
                                                <span>{{item.num}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pos-bottom" (click)='btnConfirm()' [ngStyle]="{'background': beginSwiper ? '#3DDFD2' : '#ccc'}">添加这项运动</div>
                        </div>
                    </ion-list>
                   
                </div>

                <div class="display-box" *ngIf='canShow'>
                    <div class="sports-box">
                        <div class="top-title">
                            <img src="../../../assets/imgs/modal-icon-left.png" alt="">
                            <div>今日运动</div>
                            <img src="../../../assets/imgs/modal-icon-right.png" alt="">
                        </div>
                        <div class="center-text">
                            <!-- <div class="center-title">低强度：</div> -->
                            <div class="center-text-box" *ngFor='let item of list2, let i = index'>
                                <div class="item-left">
                                    <div class="img-box">
                                        <img src="{{item.icon}}" alt="">
                                        <span>{{item.name}}</span>
                                    </div>
                                </div>
                                <div class="item-right">
                                    <span><span class="font-color1">{{item.time}}</span>分钟</span>
                                    <img (click)='closeItem(i)' src="../../../assets/imgs/mothon-close.png" alt="">
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="status-box">
                    <div class="sitting-box">
                        <div class="title-box">
                            坐着时长：
                        </div>
                        <div class="chi-box">
                            <span>
                                <span id="num" class="font-color1">{{siteNumText}} </span>小时
                            </span>
                            <div id="ruler-container">
                                <div id="triangle"></div>
                                <div id="site-ruler" data-offset="-19.5" (touchstart)="siteTouchstart($event)" [ngStyle]="{'transform': 'translateX(' + siteLen + 'rem)'}">
                                    <ul id="ruler-ul" (touchmove)="siteTouchmove($event)">
                                        <li *ngFor='let item of siteTime'>
                                            <span>{{item.num}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sleep-box">
                        <div class="title-box">
                            睡眠时长：
                        </div>
                        <div class="chi-box">
                            <span>
                                <span id="num" class="font-color1">{{sleepNumText}} </span>小时
                            </span>
                            <div id="ruler-container">
                                <div id="triangle"></div>
                                <div id="sleep-ruler" data-offset="-19.5" (touchstart)="sleepTouchstart($event)" [ngStyle]="{'transform': 'translateX(' + sleepLen + 'rem)'}">
                                    <ul id="ruler-ul" (touchmove)="sleepTouchmove($event)">
                                        <li *ngFor='let item of siteTime'>
                                            <span>{{item.num}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-btn">
            <div class="button-box">
                <button ion-button (click)='saveTime()'>保存</button>
            </div>
            <div class="button-box">
                <button ion-button (click)='postTime()'>完成</button>
            </div>
        </div>
    </div>
</ion-content>