page-record-movement{
    .normal-page{
        width: 100%;
        height: 100%;
        overflow: scroll;
        .content-box{
            margin: 1rem 0;
            height: 100%;
            .top-time{
                margin: 16px 16px 0 16px;
                padding: 1rem;
                box-shadow: 0 0 3px #ccc;
                display: flex;
                border-radius: 0.5rem;
                justify-content: space-between;
                .box{
                    display: flex;
                    align-items: center;
                    img{
                        max-width: 2rem;
                        max-height: 2.1rem;
                    }
                    span{
                        padding: 0 0.5rem;
                        position: relative;
                    }
                    .date-span{
                        margin-bottom: -8px;
                    }
                } 
            }
            .segment-box{
                margin-top: 0.5rem;
                .top-chioce-bar{
                    width: 100%;
                    height: 5rem;
                    box-shadow: 0 0 3px #ccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .bar-div{
                        width: 25%;
                        line-height: 5rem;
                        text-align: center;
                        span{
                            padding: 0.5rem 0;
                        }
                    }
                    .line-bottom{
                        border-bottom: 3px solid #3DDFD2;
                    }
                }
                .chi-box{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    position: relative;
                    margin: 1rem 0;
                    padding-bottom: 2rem;
                    #ruler-container {
                        position: relative;
                        overflow: hidden;
                        // width: 20rem;
                        width: 25rem;
                        height: 5rem;
                        padding-top: 1rem;
                        #triangle {
                            height: 2.8rem;
                            width: 2px;
                            background: #3DDFD2;
                            position: absolute;
                            top: 0.1rem;
                            left: 50%;
                            margin-left: -2px;
                            z-index: 1;
                        }
                        #ruler,
                        #site-ruler,
                        #sleep-ruler{
                            ul {
                                transform: translateX(12.5rem);
                                width: 100rem;
                                height: 4rem;
                                position: relative;
                                li{
                                    width: 6.5rem;
                                    height: 5rem;
                                    text-align: right;
                                    background: url(../../assets/imgs/ruler.png) top left no-repeat;
                                    background-size: 100% auto;
                                    float: left;
                                    list-style: none;
                                    span {
                                        position: relative;
                                        top:2rem;
                                        right: -0.3rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .switch-box{
                    padding: 0 16px 0 16px;
                    .ion-list-box{
                        padding: 0 1rem;
                        box-shadow: 0 0 5px #ccc;
                        border-radius: 0.5rem;
                        position: relative;
                        .pos-bottom{
                            height: 3rem;
                            background: #ccc;
                            line-height: 3rem;
                            border-radius: 1.5rem;
                            color: #fff;
                            position: absolute;
                            bottom: -1.5rem;
                            width: 11rem;
                            text-align: center;
                            left: 50%;
                            margin-left: -5.5rem;
                        }
                        .box-center{
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            width: 100%;
                            .img-circle-add{
                                width: 4rem;
                                height: 4rem;
                                border: 1px dashed #3DDFD2;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 1rem;
                            }
                            .img-circle{
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 33.3%;
                                img{
                                    width: 4.5rem;
                                }
                                span{
                                    padding: 0.7rem 0;
                                }
                                .pos-icon{
                                    position: absolute;
                                    bottom: 2.5rem;
                                    right: 1.5rem;
                                    img{
                                        width: 24px;
                                        height: 24px;
                                    }
                                }
                            }
                        }
                        .box-title{
                            padding: 1rem 0;
                        }
                        
                    }
                }
                .display-box{
                    padding: 0 16px 16px 16px;
                    .sports-box{
                        padding: 0 1rem 1rem 1rem;
                        box-shadow: 0 0 5px #ccc;
                        border-radius: 0.5rem;
                        position: relative;
                        .top-title{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 1rem;
                        }
                        .center-text{
                            .center-title{
                                padding: 1rem 0;
                            }
                            .center-text-box{
                                margin-bottom: 1rem; 
                                display: flex;
                                width: 100%;
                                align-items: center;
                                border-bottom: 1px dashed #ccc;
                                .item-left{
                                    width: 50%;
                                    display: flex;
                                    flex-wrap: wrap;
                                    .img-box{
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        span{
                                            padding: 1rem 0;
                                        }
                                    }
                                }
                                .item-right{
                                    width: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-around;
                                    color: #3DDFD2;
                                }
                            }
                        }
                    }
                }
                .status-box{
                    padding: 0 16px 16px 16px;
                    margin-bottom: 2rem;
                    .title-box{
                        padding-top: 1rem;
                    }
                    .sitting-box{
                        padding: 0 1rem;
                        box-shadow: 0 0 5px #ccc;
                        border-radius: 0.5rem;
                        
                    }
    
                    .sleep-box{
                        padding: 0 1rem;
                        box-shadow: 0 0 5px #ccc;
                        border-radius: 0.5rem;
                    }
                }
                
            }
        }
        
        .footer-btn{
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-left: 1px;
            .button-box{
                width: 50%;
                margin-right: 1px;
                button{
                    width: 100%;
                    margin: 0;
                    background: #3DDFD2;
                    color: #fff;
                    border: 0;
                }
            }
        }
    }
}