<!--
  Generated template for the HasGestationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <ion-list>
      <ion-label class="margin-left16">设置月经周期</ion-label>
      <ion-label class="margin-left16" stacked>请填写以下信息，方便科学备孕</ion-label>
      

      <ion-item>
        <ion-label stacked>平均周期天数（天）</ion-label>
        <ion-input type="text" [(ngModel)]='average_menstruation' placeholder="28"></ion-input>
      </ion-item>

      <!-- <ion-item> 
        <ion-label stacked>平均月经天数（天）</ion-label>
        <ion-input type="text" placeholder="平均月经天数（天）"></ion-input>
      </ion-item> -->
      <ion-label stacked></ion-label>
    </ion-list>
    
    <div class="confirm-center-btn">
      <button class="confirm-btn" ion-button round (click)="complateInp()">完成</button>
    </div>
  </div>
</ion-content>
