page-posting{
    .normal-page{
        .top-textarea{
            width: 100%;
            height: 10rem;
            textarea{
                width: 100%;
                height: 100%;
            }
        }
        .img-box{
            display: flex;
            flex-wrap: wrap;
            margin-left: -0.3rem;
            .img{
                padding: 0.5rem 0 0.5rem 0.3rem;
                width: 33.33%;
                height: 9rem;
                position: relative;
                input{
                    position: absolute;
                    z-index: 11;
                    opacity: 0;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
                span{
                    position: absolute;
                    bottom: 1.3rem;
                    left: 50%;
                    margin-left: -2.5rem;
                }
                img{
                    height: 100%;
                }
            }
        }
        .label-box{
            font-size: 1.2rem;
            .first-title{
                font-size: 1.5rem;
                padding: 1rem 0;
            }
            .flex-box{
                display: flex;
                flex-wrap: wrap;
                .btn-box{
                    margin: 5px 7px 5px 0;
                    border: 1px solid #3DDFD2;
                    height: 2.2rem;
                    width: 5.5rem;
                    text-align: center;
                    border-radius: 1.1rem;
                    line-height: 2.2rem;
                }
                .for-list{
                    white-space:nowrap;
                    padding: 0 10px;
                    line-height: 2.1rem;
                    height: 2rem;
                    background: #3DDFD2;
                    color: #fff;
                    border-radius: 1.1rem;
                    margin: 5px 7px 5px 0;
                }
                .input-box{
                    margin-top: 0.5rem;
                    border: 1px solid #3DDFD2;
                    height: 2.2rem;
                    width: 10rem;
                    border-radius: 1.1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 0.5rem;
                    input{
                        height: 95%;
                        border: none;
                        width: 80%;
                        border-radius: 1rem;
                        padding-left: 1rem;
                    }
                    img{
                        width: 1.2rem;
                        height: 0.9rem;
                    }
                }
            }
        }
    }
}