<ion-header>

    <ion-navbar>
        <ion-title>发布帖子</ion-title>
        <button ion-button clear icon-right (click)='record()' style="padding: 0; position: absolute; right: 6px; top: 8px;height: 22px">  
            <!-- <img class="back-btn" src="../../../assets/imgs/history-icon.png" />   -->
            发布
        </button>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="normal-page">
        <div class="top-textarea">
            <textarea name="" id="" placeholder="写下来，分享孕期生活的点点滴滴吧！"></textarea>
        </div>
        <div class="img-box">
            <div class="img" *ngFor='let item of fileList'>
                <img src="{{item.img}}" imageViewer alt="">
            </div>
            <div class="img">
                <input type="file" id='file' (change)='inpChange()'>
                <img src="../../../assets/imgs/pointing-point.png" alt="">
                <span>图片</span>
            </div>
        </div>
        <div class="label-box">
            <div class="first-title">
                添加标签
            </div>
            <div class="flex-box">
                <div *ngFor="let i of allData">
                    <div class="for-list">
                        {{i.text}}
                    </div>
                </div>
                <div>
                    <div class="btn-box">
                        +新标签
                    </div>
                </div>
                <div>
                    <div class="input-box">
                        <input type="text" placeholder="+新标签" [(ngModel)]='newLabelText'>
                        <img (click)='newLabel()' src="../../../assets/imgs/point-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>