<ion-header>

        <ion-navbar>
            <ion-title>故事详情</ion-title>
        </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding>
        <div class="normal-page">
            <div class="header-img">
                <img src="../../../assets/imgs/article-bg-img.png" alt="">
            </div>
            <div class="article-header">
                <div class="article-title">
                    <div>孕早期有哪些注意事项呢？</div>
                    <div>
                        <ion-icon name="star" style='color: yellow'></ion-icon>
                        <ion-icon ios="md-share" md="md-share" color="secondary"></ion-icon>
                    </div>
                </div>
                <div class='article-time'>
                        2018.03.02
                </div>
                <div class="article-auther-header"> 
                    <div class="header-img">
                        <img src="../../../assets/imgs/article-header-img.png" alt="">
                    </div>
                    <div class="auther-detail">
                        <div>复旦营养博士</div>
                        <div>徐春来</div>
                    </div>
                </div>
                <div class="article-auther-remark">
                    <div>1212</div>
                    <div>1212</div>
                </div>
            </div>
            <div class="article-content">
                1212121
            </div>
            <div class="article-talk">
                <div class="article-talk-title">全部评论</div>
                <ul>
                    <li>
                        <div class="header-img">
                            <img src="../../../assets/imgs/article-header-img.png" alt="">
                        </div>
                        <div class="talk-title">
                            <div>待产孕妈妈1</div>
                            <div>孕20周5天</div>
                            <div>孕育桥、孕迹暖暖都在用哦!</div>
                            <div class="talk-reply">
                                <div>作者回复</div>
                                <div>
                                    1212
                                </div>
                            </div>
                        </div>
                        <div class="talk-content">
                            <div>15分钟前</div>
                            <div>
                                <ion-icon name="heart" color="danger"></ion-icon>
                                <span>223</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="article-footer">
                <input type="text" placeholder="请输入关键字" [(ngModel)]="keyword">
                <span class="search">发布</span>
            </div>
        </div>
    </ion-content>