page-success-story-detail{
    .normal-page{
        width: 100%;
        .header-img{
            margin: -16px;
            img{
                width: 100%;
            }
        }
        .article-header{
            position: relative;
            z-index: 99;
            border-radius: 0.5rem;
            padding: 1rem;
            line-height: 1.8rem;
            box-shadow: 0 0 0.5rem #ccc;
            background: #fff;
            margin-top: -5rem;
            .article-title{
                font-size: 1.3rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .article-time{
                font-size: 10px;
                color: #999;
            }
            .article-auther-header{
                padding: 0.5rem 0;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                .header-img{
                    margin: 0;
                    width: 3.3rem;
                    height: 3.3rem;
                    border-radius: 50%;
                    overflow: hidden;
                    text-align: center;
                    border: 1px solid;
                }
                .auther-detail{
                    padding-left: 1rem;
                }
            }
            .article-auther-remark{
                font-size: 10px;
            }
        }
        .article-content{
            padding: 0.5rem 0;
        }
        .article-talk{
            width: 100%;
            padding-bottom: 55px;
            .article-talk-title{
                border-left: 0.5rem solid #3DDFD2;
                text-indent: 1rem;
            }
            ul{
                li{
                    display: flex;
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                    padding: 1rem 0.5rem;
                    .header-img{
                        margin: 0;
                        width:2.7rem;
                        height: 2.7rem;
                        border-radius: 50%;
                        overflow: hidden;
                        text-align: center;
                        img{
                            width: 100%
                        } 
                    }
                    .talk-title{
                        padding-left: 0.5rem;
                        flex-grow: 1;
                        line-height: 1.8rem;
                        .talk-reply{
                            font-weight: bold;
                        }
                    }
                    .talk-content{
                        text-align: right;
                    }
                }
            }
        }
        .article-footer{
            height: 50px;
            width: 100%;
            margin-left: -16px;
            background: #FAFAFA;
            position: fixed;
            bottom: 0;
            padding: 0 4rem 0 1.5rem;
            input{
                height: 30px;
                width: 100%;
                margin: 10px 0;
                border-radius: 15px;
                border: 1px solid #ccc;
                padding: 0 15px;
            }
            .search{
                position: absolute;
                right: 1rem;
                top: 15px;
                color: #868888;
            }
        }
    }
}