page-gestation {
    .margin-left16{
        color: #868888;
        margin-left: 16px;
    }
    .label-ios[stacked]{
        font-size: 1.4rem;
        color: #868888;
    }
    ion-item{
        position: relative;
        .pos-icon{
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    ion-datetime{
        font-size: 1.4rem;
        color: #868888;
        margin-top: 10px;
    }
    ion-input{
        font-size: 1.4rem;
    }
    .text-input{
        margin: 5px 0 3px 0 !important;
    }
}

