<!--
  Generated template for the GestationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <ion-list>
      <ion-label class="margin-left16">请输入您的预产期</ion-label>
      

      <ion-item *ngIf="!isShow"> 
        <ion-label stacked>输入产检时医生告知的预产期</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" max='2100-01-01' cancelText="取消" doneText="确定" placeholder="请选择" [(ngModel)]="childbirth"></ion-datetime>
        <div class="pos-icon">
            <img src="../../assets/imgs/date-icon.png" alt="">
        </div>
      </ion-item>
      <ion-item stacked *ngIf="isShow">
          <ion-label stacked>请填写以下信息计算预产期</ion-label>
          <ion-label stacked>末次月经日期</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" max='2100-01-01' cancelText="取消" doneText="确定" placeholder="2018-08-01" [(ngModel)]="last_menstrual"></ion-datetime>
          <div class="pos-icon">
              <img src="../../assets/imgs/date-icon.png" alt="">
          </div>
        </ion-item>
      <ion-item *ngIf="isShow"> 
        <ion-label stacked>月经周期（天）</ion-label>
        <ion-input class='font-color4 text-input' [(ngModel)]='menstruation' type="text" placeholder="28"></ion-input>
      </ion-item>
      <!-- <ion-label stacked></ion-label> -->
      <ion-label stacked class="margin-left16 font-color1">当前孕x周x天</ion-label>
    </ion-list>
    
    <div class="confirm-center-btn">
      <div class="font-color1" (click)="changeShow()" *ngIf="!isShow">
        不知道，计算孕期
      </div>
      <button class="confirm-btn" ion-button round (click)="complateInp()">完成</button>
    </div>
  </div>
</ion-content>