<ion-header>

    <ion-navbar>
        <ion-title>宝宝接种计划</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page font-color4">
        <div class="list-box">
            <ul>
                <li *ngFor='let item of listData' (click)='toBirthDetail()'>
                    <div class="left-box">
                        <div class="circle-box">
                            {{item.status}}
                        </div>
                    </div>
                    <div class="right-box">
                        <div class="title">{{item.title}}</div>
                        <div class="content">{{item.content}}</div>
                    </div>
                    <div [ngStyle]="{'display': item.is ? 'block' : 'none'}">
                        <img src="../../../assets/imgs/diet-circle.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ion-content>