<ion-header>

    <ion-navbar>
        <ion-title>孕早期</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="normal-page">
        <ul class='list-article'>
            <li *ngFor='let item of listData' (click)='toDetailPage(item)'>
                <!-- {{item.title}} -->
                <div>{{item.title}}</div>
                <div>
                    <img src="{{item.img}}" alt="">
                </div>
            </li>
        </ul>
    </div>
</ion-content>