page-early-pregnancy{
    .normal-page{
        width: 100%;
        .list-article{
            width: 100%;
            li{
                padding-bottom: 1rem;
                line-height: 2rem;
                overflow: hidden;
            }
            img{
                min-width: 100%;
            }
        }
    }
}