<ion-header>

    <ion-navbar>
        <ion-title>活动详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="normal-page">
        <div class="content-box">
            <div class="top-time">
                <div class="box">
                    <span>食物名称</span>
                </div>

                <div class="box">
                    <input placeholder='方便面' class='text-right text-input'/>
                    <img src="../../../assets/imgs/right-icon.png" alt="">
                </div>
            </div>
        </div>
        <div class="add-food-box">
            <div class="top-box">
                摄入量
            </div>
            <div class="center-box">
                <div class="item-box" *ngFor='let item of listData' (click)='choiceItem(item.id)'>
                    <div>
                        <img src="{{item.img}}" alt="">
                        <div class="pos-img" [ngStyle]="{'display': item.show ? 'block' : 'none'}">
                            <img src="../../../assets/imgs/change-right.png" alt="">
                        </div>
                    </div>
                    <span>{{item.text}}</span>
                </div>
            </div>
        </div>
        <div class="content-box">
            <div class="top-time">
                <div class="box">
                    <span>食物数量</span>
                </div>

                <div class="box">
                    <input placeholder='1' class='text-right text-input'/>
                    <!-- <span>1</span> -->
                    <img src="../../../assets/imgs/right-icon.png" alt="">
                </div>
            </div>
        </div>
        <div class="content-box">
            <div class="top-time">
                <div class="box">
                    <span>食物单位</span>
                </div>

                <div class="box">
                    <input placeholder='个' class='text-right text-input'/>
                    <img src="../../../assets/imgs/right-icon.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-box">
            <button ion-button>保存</button>
        </div>
    </div>
</ion-content>