page-add-food{
    .normal-page{
        width: 100%;
        height: 100%;
        position: relative;
        .text-input{
            border: 0;
            margin-right: 0.5rem;
        }
        .content-box{
            margin-bottom: 0.5rem;
            .top-time{
                padding: 1.4rem 1rem;
                box-shadow: 0 0 5px #ccc;
                border-radius: 0.5rem;
                display: flex;
                justify-content: space-between;
                .box{
                    display: flex;
                    align-items: center;
                    img{
                        max-width: 2rem;
                        max-height: 2.1rem;
                    }
                    span{
                        padding: 0 0.5rem;
                        position: relative;
                    }
                    .date-span{
                        margin-bottom: -8px;
                    }
                } 
            }
        }
        .add-food-box{
            margin-bottom: 0.5rem;
            padding: 1rem;
            box-shadow: 0 0 5px #ccc;
            border-radius: 0.5rem;
            .center-box{
                display: flex;
                justify-content: space-around;
                .item-box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    div{
                        height: 4rem;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        position: relative;
                        .pos-img{
                            position: absolute;
                            bottom: 0;
                            right: -0.5rem;
                            width: 21px;
                            height: 21px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .footer-box{
            text-align: center;
            position: absolute;
            bottom: 2rem;
            width: 100%;
            // margin-left: -16px;
            button{
                height: 3.2rem;
                padding: 0 4rem;
                border-radius: 1.6rem;
            }
        }
    }
}