<!--
  Generated template for the RegisterInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>设置提醒</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="pos-bg">
      <img src="../../assets/imgs/login-bg.png" alt="">
    </div>
    <div class="flex-page login-page">
      <div class="login-page-box text">
        <img src='../../assets/imgs/logo.png' />
        <span>app名字</span>
      </div>
      <div class="ion-input-box margin-top-40">
        <input type="text" placeholder="手机号" [(ngModel)]='username' (focus)="focusInput()" (blur)="blurInput()">
      </div>
      <div class="ion-input-box pos-relative margin-top-40">
        <input type="text" placeholder="请输入验证码" [(ngModel)]='code' (ngModelChange)='checkCode($event)'
          (focus)="focusInput()" (blur)="blurInput()">
        <span class="pos-code" (click)="getCode()"><span *ngIf='codeNum > 0 && codeNum <= 60'> ({{codeNum}}S)
          </span>{{codeString}}</span>
      </div>
      <div class="ion-input-box" *ngIf='showPwd'>
        <input type="password" placeholder="密码" [(ngModel)]='password' (focus)="focusInput()" (blur)="blurInput()">
      </div>
      <div class="ion-input-box">
        <div class="btn-login text" (click)='showAlert()'>注册</div>
        <!-- <button ion-button (click)='showAlert()'></button> -->
      </div>
      <div class="page-footer-register" *ngIf='!isHide'>
        <div class="text" (click)="toLogin()">用户登录</div>
        <div class="text">|</div>
        <div class="text" (click)="toForgetPwd()">忘记密码</div>
      </div>
    </div>

  </div>
</ion-content>