page-faq{
    .normal-page{
        width: 100%;
        height: 100%;
        .top-bar{
            height: 50px;
            width: 100%;
            padding: 0 16px;
            background: #3DDFD2;
            position: relative;
            input{
                height: 30px;
                width: 100%;
                margin: 10px 0;
                border-radius: 15px;
                border: 0;
                padding: 0 15px;
            }
            .search{
                position: absolute;
                right: 8%;
                top: 18px;
            }
        }
        .content-box{
            padding: 16px;
            ul{
                position: relative;
                .pos-line{
                    position: absolute;
                    left: 0.75rem;
                    top: 1.3rem;
                    z-index: -1;
                    height: 90%;
                    overflow: hidden;
                    img{
                        width: 1px;
                        height: 100rem;
                    }
                }
                li{
                    position: relative;
                    z-index: 99;
                    .top-img{
                        height: 4rem;
                        display: flex;
                        align-items: center;
                        .circle-icon{
                                margin-right: 1rem;
                                width: 1.5rem;
                                height: 1.5rem;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .content{
                        background: #fff;
                        padding: 1rem 1.5rem;
                        box-shadow: 0 0 3px #ccc;
                        line-height: 2.5rem;
                        border-radius: 0.5rem;
                    }
                    .content-title{
                        line-height: 3rem;
                    }
                }
            }
        }
    }
}