<ion-header>

    <ion-navbar>
        <ion-title>问与答</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="top-bar">
            <input type="text" placeholder="请输入关键字" (focus)="focusInput()" [(ngModel)]="keyword">
            <ion-icon class="search" name="search" (click)='searchFaq()'></ion-icon>
        </div>
        <div class="content-box">
            <ul>
                <div class="pos-line">
                    <img src="../../../assets/imgs/faq-line.png" alt="">
                </div>
                <li *ngFor='let item of listData'>
                    <div class="top-img">
                        <div class="circle-icon">
                            <img src="../../../assets/imgs/circle.png" alt="">
                        </div>
                        <div>
                            {{item.looks}}人看过...
                        </div>
                    </div>
                    <div class="content" (click)='toPage(item.id)'>
                        <div class="content-title">
                            {{item.title}}
                        </div>
                        <div class="content-box">
                            {{item.content}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ion-content>