<ion-header>

    <ion-navbar>
        <ion-title>知识库</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="top-bar">
            <input type="text" placeholder="请输入关键字" (focus)="focusInput()" [(ngModel)]="keyword">
            <ion-icon class="search" name="search"></ion-icon>
        </div>
        <div class="content-box">
            <ul>
                <div class="pos-line">
                    <img src="../../../assets/imgs/faq-line.png" alt="">
                </div>
                <li *ngFor='let item of listData'>
                    <div class="pos-right-state">
                        <span>{{stageStatus[item.stage - 1]}}</span>
                        <img src="../../../assets/imgs/knowledge-right-bar.png" alt="">
                    </div>
                    <div class="top-img">
                        <div class="circle-icon">
                            <img src="../../../assets/imgs/circle.png" alt="">
                        </div>
                        <div>
                            孕育中
                        </div>
                    </div>
                    <div class="content">
                        <div class="content-title">
                            {{item.title}}
                        </div>
                        <div class="content-test">
                            <div>{{item.article_subheading}}</div>
                            <!-- <div>孕早期的介绍孕早期的介绍孕早期的介绍</div>
                            <div>孕早期的介绍孕早期的介绍</div> -->
                        </div>
                        <div class="pos-circle-right">
                            <img src="../../../assets/imgs/circle.png" alt="">
                        </div>
                    </div>
                    <div class="content" (click)='toPage(item.id)'>
                        <div class="content-title" [innerHTML]='item.article_subheading'>
                        </div>
                        <div class="content-img">
                            <img src="{{item.article_img}}" alt="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ion-content>