page-knowledges{
    .normal-page{
        width: 100%;
        height: 100%;
        .top-bar{
            height: 50px;
            width: 100%;
            padding: 0 16px;
            background: #3DDFD2;
            position: relative;
            input{
                height: 30px;
                width: 100%;
                margin: 10px 0;
                border-radius: 15px;
                border: 0;
                padding: 0 15px;
            }
            .search{
                position: absolute;
                right: 8%;
                top: 18px;
            }
        }
        .content-box{
            padding: 0 16px;
            ul{
                position: relative;
                .pos-line{
                    position: absolute;
                    left: 0.75rem;
                    top: 1rem;
                    z-index: -1;
                    height: 90%;
                    overflow: hidden;
                    img{
                        width: 1px;
                        height: 100rem;
                    }
                }
                li{
                    position: relative;
                    z-index: 99;
                    .pos-right-state{
                        position: absolute;
                        right: -16px;
                        top: 0;
                        color: #fff;
                        height: 2.5rem;
                        width: 6.7rem;
                        padding-left: 1.5rem;
                        line-height: 2.8rem;
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: -99;
                        }
                    }
                    .top-img{
                        margin-top: 1rem;
                        height: 2.5rem;
                        display: flex;
                        align-items: center;
                        .circle-icon{
                                margin-right: 1rem;
                                width: 1.5rem;
                                height: 1.5rem;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .content{
                        background: #fff;
                        padding: 1rem 1.5rem;
                        box-shadow: 0 0 3px #ccc;
                        line-height: 2rem;
                        border-radius: 0.5rem;
                        margin-top: 1.5rem;
                        position: relative;
                        img{
                            width: 100%;
                        }
                        .pos-circle-right{
                            position: absolute;
                            right: 1rem;
                            top: 1rem;
                            img{
                                width: 13px;
                                height: 13px;
                            }
                        }
                        .flex-box{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        .content-test{
                            line-height: 2.3rem;
                        }
                    }
                    .content-title{
                        line-height: 3.3rem;
                    }
                }
            }
        }
    }
}