<ion-header>

    <ion-navbar>
        <ion-title>记体重</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

    <div class="normal-page">
        <div class="top-bar">
            <input type="text" placeholder="请输入关键字" [(ngModel)]="keyword">
            <ion-icon class="search" name="search" (click)='inputFocus()'></ion-icon>
        </div>
        <div class='search-text-box' *ngIf='!searching'>
            <div class="box-title">
                <span>搜索记录：</span>
                <span (click)='clearAll()'>
                    <img src="../../../assets/imgs/delete.png" alt="">
                </span>
            </div>
            <div class="flex-box">
                <div *ngFor="let i of storgeData">
                    <div class="for-list">
                        {{i.text}}
                    </div>
                </div>
            </div>
        </div>
        <ul class="flex-ul" *ngIf='searching'>
            <li *ngFor="let i of allData">
                <div class="flex-item1">
                    <img src="{{i.icon}}" alt="">
                </div>
                <div class="flex-item2">
                    <div>{{i.name}}</div>
                    <div>GI值：{{i.value}}</div>
                </div>
            </li>
        </ul>
    </div>
</ion-content>