page-search-food{
    .normal-page{
        // background: #ccc;
        width: 100%;
        height: 100%;
    }
    .top-bar{
        height: 50px;
        width: 100%;
        position: relative;
        background: #2CDBCD;
        padding: 0 16px;
        input{
            height: 30px;
            width: 100%;
            margin: 10px 0;
            border-radius: 15px;
            border: 1px solid #2CDBCD;
            padding: 0 15px;
        }
        .search{
            position: absolute;
            right: 7%;
            top: 18px;
        }
    }
    .search-text-box{
        padding: 16px;
        color: #606060;
        .box-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .for-list{
            white-space:nowrap;
            padding: 0 10px;
            line-height: 25px;
            height: 25px;
            background: #F4F4F4;
            color: #868888;
            border-radius: 12px;
            margin: 5px 7px;
        }
        .flex-box{
            display: flex;
            flex-wrap: wrap;
            height: auto;
            .box-title{
                font-size: 1.5rem;
            }
        }
    }
   
    .flex-ul{
        display: flex;
        flex-direction: column;
        li{
            display: flex;
            align-items: center;
            border-bottom: 2px solid #fafafa;
            padding: 0.5rem 0;
            .flex-item1{
                width: 7rem;
                text-align: center;
            }
        }
    }
}