page-fetal-movement{
    .normal-page{
        width: 100%;
        height: 100%;
        position: relative;
        .header-box{
            width: 100%;
            text-align: center;
            line-height: 2rem;
            padding-top: 5rem;
            .heart-box{
                width: 12rem;
                height: 12rem;
                border: 5px solid #FA9190;
                border-radius: 50%;
                margin: 0 auto 2rem auto;
                text-align: center;
                padding-top: 2.5rem;
                img{
                    width: 4.5rem;
                }
            }
        }
        .table-content{
            width: 100%;
            height: 10rem;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1;
            img{
                position: absolute;
                left: 0;
                top: 0;
                z-index: -2;
                width: 100%;
                height: 100%;
            }
            .item-box{
                width: 33.33%;
                text-align: center;
                line-height: 2rem;
            }
            .item-box:first-of-type{
                border-right: 1px solid #B9B9B9;
            }
            .item-box:last-of-type{
                border-left: 1px solid #B9B9B9;
            }
        }
        .remark-box{
            padding: 1.3rem;
            position: relative;
            z-index: 2;
            // .img{
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     z-index: -10;
            //     width: 100%;
            //     height: 50rem;
            // }
            ul{
                line-height: 2rem;
                position: relative;
                overflow: hidden;
                .line{
                    position: absolute;
                    left: 0.5rem;
                    top: 2.5rem;
                    z-index: -1; 
                    width: 1px;
                    height: 15rem;
                }
                li{
                    // border-left: 1px solid #3DDFD2;
                    padding-top: 2rem;
                    display: flex;
                    align-items: baseline;
                    img{
                        width: 1.2rem;
                        height: 1.2rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
        .footer-btn{
            width: 100%;
            text-align: center;
            position: fixed;
            bottom: 5rem;
            left: 0;
            button{
                background: #3DDFD2;
                height: 3.4rem;
                border-radius: 1.7rem;
                padding: 0 3rem;
            }
        }
    
        .pos-modal{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99;
            .pos-dialog{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                .pos-content{
                    padding: 1.6rem 2rem;
                    width: 26rem;
                    margin: 14rem auto 0 auto;
                    background: #fff;
                    border-radius: 0.7rem;
                    .modal-header{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 3rem;
                    }
                    .modal-center{
                        line-height: 2rem;
                        letter-spacing: 3px;
                    }
                    .modal-footer{
                        text-align: center;
                        margin: 1rem 0;
                        button{
                            width: 80%;
                            height: 3rem;
                            line-height: 3rem;
                            border-radius: 1.5rem;
                            background: #2CDBCD;
                        }
                    }
                }
                .modal-close{
                    margin: 6rem;
                    text-align: center;
                    img{
                        width: 37px;
                        height: 37px;
                    }
                }
            }
        }
    }
}