<ion-header>

    <ion-navbar>
        <ion-title>数胎动</ion-title>
        <button ion-button clear icon-right (click)='record()' style="padding: 0; position: absolute; right: 6px; top: 6px;height: 22px">
            <img class="back-btn" src="../../../assets/imgs/history-icon.png" />
        </button>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="normal-page">
        <div class="header-box">
            <div class="heart-box" (click)='changeBegin()'>
                <img src="../../../assets/imgs/heart_img.png" alt="">
                <div>{{beginText}}</div>
            </div>
            <div *ngIf='isBegin'>{{clickTime}}</div>
            <div>
                正常胎动不少于3次/小时，30次/12小时
            </div>
        </div>
        <div class="remark-box" *ngIf='!isBegin'>
            <!-- <img class='img' src="../../../assets/imgs/border-shadow.png" alt=""> -->
            <div>操作说明</div>
            <ul>
                <img class='line' src="../../../assets/imgs/line.png" alt="">

                <li>
                    <img src="../../../assets/imgs/circle.png" alt="">
                    <div>胎动时，孕妇最好采用左侧卧位的姿势，在安静的环境中，思想保持集中，心情要平静以确保测量数据的准确性。</div>
                </li>
                <li>
                    <img src="../../../assets/imgs/circle.png" alt="">
                    <div>每天早、中、晚各计数胎动一小时，将三次记录的胎动相加后乘以4，就得到12小时的胎动次数。</div>
                </li>
                <li>
                    <img src="../../../assets/imgs/circle.png" alt="">
                    <div>不管是单胎还是双胞胎，数胎动是从开始动到一系列动作结束为一次胎动。</div>
                </li>
            </ul>
        </div>

        <div class="table-content" *ngIf='isBegin'>
            <img src="../../../assets/imgs/border-shadow.png" alt="">
            <div class='item-box'>
                <div>开始时间</div>
                <div>{{beginTime}}</div>
            </div>
            <div class='item-box'>
                <div>有效点击</div>
                <div class="font-color1">{{validClicks}}次</div>
            </div>
            <div class='item-box'>
                <div>点击次数</div>
                <div>{{clicks}}次</div>
            </div>
        </div>
        <div class="footer-btn" *ngIf='isBegin'>
            <button ion-button (click)='checkEnd()'>结束观察</button>
        </div>

        <div class="pos-modal" *ngIf='pushModal'>
            <div class="pos-dialog">
                <div class="pos-content">
                    <div class="modal-header">
                        <img src="../../../assets/imgs/modal-icon-left.png" alt="">
                        <span class="font-color1">数胎动</span>
                        <img src="../../../assets/imgs/modal-icon-right.png" alt="">
                    </div>
                    <div class="modal-center font-color4">
                        监测时间不足一小时，数据可能不正确，确定要结束吗？
                    </div>
                    <div class="modal-footer">
                        <button ion-button (click)='checkConform()'>确定</button>
                    </div>
                </div>
                <div class="modal-close" (click)='closeModal()'>
                    <img src="../../../assets/imgs/modal-close.png" alt="">
                </div>
            </div>
        </div>
    </div>
</ion-content>